<style>

    .flashcard-container {
        margin: 20px;
        width: 600px;
        text-align: center;
    }

    .flashcard-flipcontainer {
        perspective: 1000px;
    }
    /* flip the pane when hovered */
    .flashcard-flipcontainer .flipcard{
        transform: rotateX(180deg);
    }

    .flashcard-front:focus, .flashcard-back:focus, .flashcard-flipcontainer:focus, .flashcard-flipper:focus{outline:0;}

    .flashcard-flipcontainer, .flashcard-front, .flashcard-back {
        width: 600px;
        height: 300px;
    }

    .flashcard-front, .flashcard-back {
        background-color: rgb(255,255,255);
        border-radius: 2px;

        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    }

    /* flip speed goes here */
    .flashcard-flipper {
        transition: transform 600ms;
        transform-style: preserve-3d;
        transition-timing-function: ease-in-out;

        transform-origin: 100% 150px; /* half of height */

        position: relative;
    }

    /* hide back of pane during swap */
    .flashcard-front, .flashcard-back {
        backface-visibility: hidden;

        position: absolute;
        top: 0;
        left: 0;
    }

    /* front pane, placed above back */
    .flashcard-front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateX(0deg);
    }

    /* back, initially hidden pane */
    .flashcard-back {
        transform: rotateX(180deg);
    }

    .flashcard-reveal-fast {
        transition: transform 150ms;
    }


    /*fade next animation*/
    .flashcard-next-out {
        transition: transform 300ms, visibility 300ms, opacity 300ms;
        transform: translateX(20px);
        visibility: hidden;
        opacity: 0;
        transition-timing-function: ease-in-out;
    }

    .flashcard-next-in{
        transition: transform 300ms, visibility 300ms, opacity 300ms;
        transform: translateX(0px) rotateX(0deg);
        visibility: visible;
        opacity: 1;
        transition-timing-function: ease-in-out;
    }

    .flashcard-next-betw{
        transition: transform 1ms;
        transform: translateX(-20px);
        visibility: hidden;
        opacity: 0;
        transition-timing-function: ease-in-out;
    }

    .flashcard-next-betw-flipper{
        transition: transform 1ms;
        transform: rotateX(0deg);
        visibility: hidden;
        opacity: 0;
        transition-timing-function: ease-in-out;
    }

    /*fade prev animation*/
    .flashcard-prev-out {
        transition: transform 300ms, visibility 300ms, opacity 300ms;
        transform: translateX(-20px);
        visibility: hidden;
        opacity: 0;
        transition-timing-function: ease-in-out;
    }

    .flashcard-prev-in{
        transition: transform 300ms, visibility 300ms, opacity 300ms;
        transform: translateX(0px) rotateX(0deg);
        visibility: visible;
        opacity: 1;
        transition-timing-function: ease-in-out;
    }

    .flashcard-prev-betw {
        transition: transform 1ms;
        transform: translateX(20px);
        visibility: hidden;
        opacity: 0;
        transition-timing-function: ease-in-out;
    }

    .flashcard-prev-betw-flipper {
        transition: transform 1ms;
        transform: rotateX(0deg);
        visibility: hidden;
        opacity: 0;
        transition-timing-function: ease-in-out;
    }

    .flashcard-answer-text {
        font-size: 1.25em;
    }

    @media only screen and (max-width: 640px) {
        .flashcard-container {
            margin: 2.5%;
            width: 95%;
            min-width: 300px;
        }

        .flashcard-flipcontainer, .flashcard-front, .flashcard-back {
            width: 100%;
            height: 50vw;
        }

        .flashcard-flipper {
            transform-origin: 100% 25vw; /* half of height */
        }
    }

</style>
<div class="flashcard-container">
    <div class="flashcard-flipcontainer"
        ng-class="{'flashcard-reveal-fast': $ctrl.revealeFast, 'flashcard-next-out': $ctrl.transNextOut, 'flashcard-next-in': $ctrl.transNextIn, 'flashcard-next-betw': $ctrl.transNextBetw, 'flashcard-prev-out': $ctrl.transPrevOut, 'flashcard-prev-in': $ctrl.transPrevIn, 'flashcard-prev-betw': $ctrl.transPrevBetw}">
    <div class="flashcard-flipper" ng-click="$ctrl.reveal()"
        ng-class="{flipcard: $ctrl.revealed,'flashcard-next-betw-flipper': $ctrl.transNextBetw, 'flashcard-prev-betw-flipper': $ctrl.transPrevBetw}">
        <div class="flashcard-front" layout="column" layout-align="center center">
            <h2>{{$ctrl.questions[$ctrl.currentCard].question}}</h2>
        </div>
        <div class="flashcard-back" layout="column" layout-align="center center">
            <div class="flashcard-answer-text">{{$ctrl.questions[$ctrl.currentCard].answer}}</div>
        </div>
    </div>
    </div>
    <div layout="row" layout-align="center center">
        <md-button class="md-icon-button" ng-click="$ctrl.previous()" ng-disabled="$ctrl.isFirst()||$ctrl.transNextOut||$ctrl.transNextBetw||$ctrl.transNextIn||$ctrl.transPrevOut||$ctrl.transPrevBetw||$ctrl.transPrevIn"><md-icon md-font-icon="material-icons">navigate_before</md-icon></md-button>
        <p>{{$ctrl.currentCard+1}}/{{$ctrl.questions.length}}</p>
        <md-button class="md-icon-button" ng-click="$ctrl.next()" ng-disabled="$ctrl.isLast()||$ctrl.transNextOut||$ctrl.transNextBetw||$ctrl.transNextIn||$ctrl.transPrevOut||$ctrl.transPrevBetw||$ctrl.transPrevIn"><md-icon md-font-icon="material-icons">navigate_next</md-icon></md-button>
    </div>
</div>