<style>
    home div{
        width: 1536px;
    #worldMap{
        width: 1920px;
        height: 670px;
        background-image: url("resources/images/Worldmap.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% auto;
        overflow: hidden;
        }


</style>

<div>
<md-button class="md-icon-button" ui-sref="ethiopia" style="left:885px; top:245px;background-attachment: fixed;" position:relative>
    <md-tooltip md-direction="right">Ethiopia</md-tooltip>
    <img src="resources/images/ethiopia-2.png" style="width:60px"></md-button>

    <md-button class="md-icon-button"  ui-sref="japan" style="left:1195px; top:120px" position:relative>
        <md-tooltip md-direction="right">Japan</md-tooltip>
        <img src="resources/images/japan.png" style="width:60px"></md-button>
<div id="worldMap">
    <md-button ui-sref="ethiopia" style="left:885px; top:245px" position:relative><img src="resources/images/ethiopia-2.png" style="width:60px"></md-button>
    <md-button ui-sref="japan" style="left:1195px; top:120px; " position:relative><img src="resources/images/japan.png" style="width:60px"></md-button>
</div>
</div>