<style>

    #container{
        position: relative;
    }

    #ethiopia{
        width:auto;
        max-width:100%;
        height:auto;
    }

    #japan{
        width: 100%;
        height:100%;
    }


</style>

<!--
<div>
<md-button ui-sref="ethiopia" style="left:885px; top:245px;background-attachment: fixed;" position:relative>
    <md-tooltip md-direction="right">Ethiopia</md-tooltip>
    <img src="resources/images/ethiopia-2.png" style="width:60px"></md-button>

    <md-button ui-sref="japan" style="left:1195px; top:120px" position:relative>
        <md-tooltip md-direction="right">Japan</md-tooltip>
        <img src="resources/images/japan.png" style="width:60px"></md-button>
!-->

<div id="container">

    <img src="resources/images/Worldmap.jpg" style="width:100%; height:auto">

    <md-button ui-sref="ethiopia" style="left:58%; top:40%; width:60px; position:absolute">
        <md-tooltip md-direction="right">Ethiopia</md-tooltip>
        <img src="resources/images/ethiopia-2.png" style="width:100%;" id="ethiopia"></md-button>
    <md-button ui-sref="japan" style="left:85%; top:24%; position:absolute">
        <md-tooltip md-direction="right">Japan</md-tooltip>
        <img src="resources/images/japan.png" style="width:60px" id="japan"></md-button>

</div>



