<style>
    md-card.hoverPic {
        position: relative;
        width: 200px;
        height: 200px;
    }

    md-card.hoverPic > div.hoverPicHolder {
        transition: filter 150ms ease-in;
        z-index: 1;
    }

    md-card.hoverPic:hover > div.hoverPicHolder {
        filter: brightness(50%);
    }
    md-card.hoverPic:hover > div {
        color: white;
    }

    md-card.hoverPic > div {
        color: transparent;
        position: absolute;
        top: 10%;
        left: 10%;
        right: 10%;
        bottom: 10%;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        z-index: 2;
    }

    md-card.hoverPic > div > p {
        margin: 0;
    }

    md-card.hoverPic > div.hoverPicHolder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: center;
        background-size: cover;
    }

    md-card.hoverPic > div.hoverPicHolder > div {
        position: absolute;
        left: 10px;
        bottom: 10px;
        opacity: 1;
        font-size: large;
    }

    md-card.hoverPic:hover > div.hoverPicHolder > div {
        opacity: 0;
        transition: opacity 150ms ease-in;
    }
</style>


<md-card class="hoverPic">
    <div layout="column" layout-align="center center">
        <h1>{{$ctrl.name}}</h1>
        <p ng-show="$ctrl.desc">{{$ctrl.desc}}</p>
        <ng-transclude></ng-transclude>
    </div>

    <div class="hoverPicHolder" style="background-image: url('{{$ctrl.image}})'">
        <div>
            {{$ctrl.name}}
        </div>
    </div>
</md-card>
