<md-card layout="row" style="width: 500px;">
    <div flex="45" style="overflow: hidden;" layout="row" layout-align="center center" >
        <img src="{{$ctrl.image||'https://via.placeholder.com/300x200&text=Image'}}">
    </div>
    <div flex="55" layout="column">
        <h1 style="margin-left: 10px; margin-top: 10px; margin-bottom: 5px; font-weight: lighter;">
            {{$ctrl.title}}
        </h1>
        <div style="margin-left: 30px; margin-right: 30px">
            <ng-transclude></ng-transclude>
        </div>
    </div>
</md-card>