<style>
    image-card {
        width: 430px;
        height: auto;
    }

    @media screen and (max-width: 1320px) {
        image-card {
            width: 100%;
            height: auto;
        }
    }
</style>

<md-card class="imageCardStyle" layout="column">
    <div ng-attr-flex="{{$ctrl.noImage ? undefined : 30}}" style="overflow: hidden; cursor: pointer;" layout="row" layout-align="center center"
         ng-click="$ctrl.expand = !$ctrl.expand">
        <div ng-attr-flex="{{$ctrl.noImage ? undefined : 40}}" style="padding: 10px" ng-hide="$ctrl.noImage">
            <img ng-src="{{$ctrl.image||'https://via.placeholder.com/300x200&text=Image'}}" style="width: 100%">
        </div>

        <h1 ng-attr-flex="{{$ctrl.noImage ? undefined : 60}}" style="margin-left: 10px; margin-top: 10px; margin-bottom: 5px; font-weight: lighter;">
            {{$ctrl.title}}
        </h1>
        <eat-audio ng-hide="{{!$ctrl.audio}}" src="{{$ctrl.audio}}" type="audio/wav"
                   onclick="event.stopPropagation();"></eat-audio>
        <md-button class="md-icon-button" style="min-width: 3em;" ng-hide="$ctrl.expand">
            <md-icon>expand_more</md-icon>
        </md-button>
        <md-button class="md-icon-button" style="min-width: 3em;" ng-show="$ctrl.expand">
            <md-icon>expand_less</md-icon>
        </md-button>
        <!--
        <md-icon ng-hide="$ctrl.expand" style="margin-right: 1em;">expand_more</md-icon>
        <md-icon ng-show="$ctrl.expand" style="margin-right: 1em;">expand_less</md-icon>
        -->
    </div>
    <div ng-attr-flex="{{$ctrl.noImage ? undefined : 70}}" layout="column" ng-show="$ctrl.expand">
        <div style="margin: 10px 30px 20px 30px; padding: 0 5px; overflow-y: auto" flex="100">
            <ng-transclude></ng-transclude>
        </div>
    </div>
</md-card>