<div layout="column" style="height: 100%" ng-class="{
    'xs': $mdMedia('xs'),
    'gt-xs': $mdMedia('gt-xs'),
    'sm': $mdMedia('sm'),
    'gt-sm': $mdMedia('gt-sm'),
    'md': $mdMedia('md'),
    'gt-md': $mdMedia('gt-md'),
    'lg': $mdMedia('lg'),
    'gt-lg': $mdMedia('gt-lg'),
    'xl': $mdMedia('xl')
}">

    <style>
        @media only screen and (max-width: 550px) {
            h1.flagName {
                display: none;
            }
        }
    </style>

    <md-toolbar ng-hide="$ctrl.checkState('home')">
        <span class="md-toolbar-tools" layout="row">
            <md-icon-button ng-click="$ctrl.toggleNav()" style="margin-right: 10px; cursor: pointer;">
                <md-icon class="material-icons">menu</md-icon>
            </md-icon-button>
            <div flex layout="row" layout-align="space-between center">
                <h1 flex ui-sref="home" style="font-size: larger; cursor: pointer">EatTheWorld</h1>
                <div flex></div>

                <div flex ng-show="$ctrl.isJapan()" ng-style="$ctrl.checkState('japan')?{}:{'cursor': 'pointer'}" ui-sref="japan" layout="row" layout-align="end center">
                    <h1 class="flagName" style="font-size: larger; margin-right: 10px">Japan</h1>
                    <div style="height: 40px; width: auto;">
                        <svg flex="100" class="md-whiteframe-2dp" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 600">
                            <rect fill="#fff" height="600" width="1000"/>
                            <circle fill="#bc002d" cx="500" cy="300" r="180"/>
                        </svg>
                    </div>
                </div>

                <div flex ng-show="$ctrl.isEthiopia()" ng-style="$ctrl.checkState('ethiopia')?{}:{'cursor': 'pointer'}" ui-sref="ethiopia" layout="row" layout-align="end center">
                    <h1 class="flagName"  style="font-size: larger; margin-right: 10px">Ethiopia</h1>
                    <div style="height: 40px; width: auto;">
                        <svg flex="100" class="md-whiteframe-2dp" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="60 0 600 360">
                            <rect fill="#da121a" height="360" width="720"/>
                            <rect fill="#fcdd09" height="240" width="720"/>
                            <rect fill="#078930" height="120" width="720"/>
                            <g transform="translate(360,180)">
                                <circle fill="#0f47af" r="120"/>
                                <g id="t">
                                    <path fill="#fcdd09"
                                          d="M0,-96 -4.205849,-83.055728 13.141645,-29.665631H-9.987258L-12.586616,-21.665631H61.576052L72.587108,-29.665631H21.553343z"/>
                                    <path stroke="#fcdd09" stroke-width="4" d="M0,44V96" transform="rotate(216)"/>
                                </g>
                                <use xlink:href="#t" transform="rotate(72)"/>
                                <use xlink:href="#t" transform="rotate(144)"/>
                                <use xlink:href="#t" transform="rotate(216)"/>
                                <use xlink:href="#t" transform="rotate(288)"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <!--div>
                <md-button ui-sref="japan">Japan</md-button>
                <md-button ui-sref="ethiopia">Ethiopia</md-button>
            </div-->
        </span>
    </md-toolbar>

    <md-icon-button ng-show="$ctrl.checkState('home')" ng-click="$ctrl.toggleNav()" style="cursor: pointer; margin: 10px;">
        <md-icon class="material-icons">menu</md-icon>
    </md-icon-button>

    <div layout="row" style="height: 100%">
        <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="global-left" md-is-locked-open="$ctrl.menuLockedOpen()" style="height: 100%">
            <md-content layout-padding>
                <md-list flex>
                    <md-subheader>Eat The World</md-subheader>
                    <md-divider></md-divider>
                    <md-list-item ng-repeat-start="country in $ctrl.navData" ng-init="expand = []" ng-click="expand[$index] = !expand[$index]">
                        <span flex>{{country.name}}</span>
                        <md-icon ng-hide="expand[$index]">expand_more</md-icon>
                        <md-icon ng-show="expand[$index]">expand_less</md-icon>
                    </md-list-item>
                    <md-list-item ui-sref="{{country.state}}" ng-show="expand[$index]">
                        <span flex-offset="5">Overview</span>
                    </md-list-item>
                    <md-list-item ng-show="expand[$index]" ng-repeat="module in country.modules" ui-sref="{{module.state}}">
                        <span flex-offset="5">{{module.name}}</span>
                    </md-list-item>
                    <md-divider ng-repeat-end=""></md-divider>
                </md-list>
            </md-content>
        </md-sidenav>
        <section ui-view flex="grow" style="position: relative">
        </section>
    </div>
</div>