<div layout="row" flex style="position: fixed; max-height: 100%">
    <div flex style="overflow-x: scroll">
        <md-content class="md-padding" style="margin-bottom: 50px;">
            <h2 class="md-display-3" style="text-align: center;">{{$ctrl.title}}</h2>
            <ng-transclude></ng-transclude>
        </md-content>
    </div>
    <aside md-colors="{background: 'accent'}" style="width: 300px; max-height: 100%">
        <style>
            .segment-dot:not(:last-child) {
                margin-bottom: 25px;
            }
        </style>
        <div style="position: relative; z-index: 1; margin-top: 15%; margin-left: 15%;">
            <div style="height: 100%; position: absolute; top: 0; left: 0; padding: 15px 0; width: 30px" layout="column">
                <div flex md-colors="{background: 'primary'}" style="border-radius: 5px; margin: auto; width: 3px;"></div>
            </div>
            <div style="z-index: 2; position: relative;" class="segment-dot" ng-repeat="e in $ctrl.segments">
                <div layout="row" layout-align="start center" >
                    <div class="clickable" title="{{e.title}}" ng-click="$ctrl.scrollTo(e.anchor);" md-colors="{background: 'primary'}" style="border-radius: 100%; width: 30px; height: 30px"></div>
                    <span class="clickable" ng-click="$ctrl.scrollTo(e.anchor);" style="margin-left: 15px">{{e.title}}</span>
                </div>
            </div>
        </div>
    </aside>
</div>
