<style>
    .survey {
        margin: 10px;
        padding: 10px;
        background-color: #ffffff;
        max-width: 800px;
        
        margin: auto;
        margin-bottom: 20px;
    }

    .surveyQuestion {
        height: 100px;
    }

    .surveyOneQuestion {
        border: 1px solid gray;
        border-radius: 4px;
        padding: 10px;
    }

    .chosen {
        background-color: rgba(0,0,0,0.12) !important;
        color: rgba(0,0,0,0.38) !important;
        box-shadow: none !important;
    }

    .surveyImage {
    }
</style>
<md-card class="survey">
    <h1 style="margin-top: 10px;"><ng-transclude></ng-transclude></h1>
        <div class="surveyImage">
        <img ng-if="$ctrl.questions[$ctrl.currentQuestion].image" ng-src="{{$ctrl.questions[$ctrl.currentQuestion].image}}">
        </div>
    <h3>{{$ctrl.questions[$ctrl.currentQuestion].question}}</h3>
    <div class="surveyQuestion" layout="column" ng-hide="$ctrl.finish">
    <div ng-model="$ctrl.answered[$ctrl.currentQuestion]" ng-if="!$ctrl.isMultiple($ctrl.questions[$ctrl.currentQuestion])" layout="row" layout-align="center center" layout-wrap>
        <div flex="50"  ng-repeat="answer in $ctrl.questions[$ctrl.currentQuestion].answers" layout="row">
        <md-button flex class="md-raised" ng-click="$ctrl.answered[$ctrl.currentQuestion] = $ctrl.checked($index)" ng-disabled="$index === $ctrl.answered[$ctrl.currentQuestion]">
            {{answer}}
        </md-button>
        </div>
    </div>
    <div ng-model="$ctrl.answered[$ctrl.currentQuestion]" ng-if="$ctrl.isMultiple($ctrl.questions[$ctrl.currentQuestion])" layout="row" layout-align="center center" layout-wrap>
        <div flex="50"  ng-repeat="answer in $ctrl.questions[$ctrl.currentQuestion].answers" layout="row">
        <md-button flex class="md-raised" ng-click="$ctrl.toggle($index)" ng-class="{chosen: $ctrl.isInArray($index, $ctrl.answered[$ctrl.currentQuestion])}">
            {{answer}}
        </md-button>
        </div>
    </div>
    </div>
    <div class="surveyQuestion" layout="column" ng-show="$ctrl.finish" layout-align="center center">
        <h2>You have answered {{$ctrl.answeredCorrectly}} of {{$ctrl.questions.length}} questions correctly</h2>
    </div>
    <div layout="row">
        <p flex>Question {{$ctrl.currentQuestion+1}}/{{$ctrl.questions.length}}</p>
        <md-button ng-click="$ctrl.previousItem()" ng-if="!$ctrl.finish&&($ctrl.currentQuestion > 0)" class="md-raised md-primary">Previous</md-button>
        <md-button ng-click="$ctrl.repeat()" ng-if="$ctrl.finish" class="md-raised md-primary">Repeat</md-button>
        <md-button ng-click="$ctrl.finishScreen()" ng-if="$ctrl.isLast()&&!$ctrl.finish" class="md-raised md-primary" ng-disabled="$ctrl.isUndefined($ctrl.answered[$ctrl.currentQuestion])">Finish</md-button>
        <md-button ng-click="$ctrl.nextItem()" ng-if="!$ctrl.isLast()" class="md-raised md-primary" ng-disabled="$ctrl.isUndefined($ctrl.answered[$ctrl.currentQuestion])">Next</md-button>
    </div>
</md-card>