<h1>Test</h1>
<div layout="column"  layout-align="center center">
    <h1>Test</h1>
    <survey questions="[{
question: 'What is the capital of Japan?', image: 'resources/images/16-9.jpg', answers:['Tokyo is the capital of Japan! Why is this a multiple choice question?', 'Kyoto', 'Osaka', 'Bejing'], correct:[1,2]},
{question: 'What is the capital of Ethiopia?', answers:['Addis Ababa', 'Kabala'], correct: 0}]" shuffle="true">Capitals
    </survey>
    <flashcard
            questions="[{question: 'What is the capital of Japan?', answer:'Tokyo'},{question: 'What is the capital of Ethiopia?', answer:'Addis Ababa'}]"></flashcard>
    <dialogcard
            questions="[{question: 'What is the capital of Japan?', answers:[{front: 'Tokyo', back:'Tokyo is beatifull'}, {front: 'Osaka', back:'Osaka is beatifull'}, {front: 'Kyoto', back:'Kyoto is beatifull'}, {front: 'Seoul', back:'Seoul is beatifull'}]},{question: 'What is the capital of Ethiopia?', answers:[{front: 'Addis Ababa', back:'Addis Ababa is beatifull'}, {front: 'Georgetown', back:'Ethiopia was NEVER Colonised!!!'}]}]"></dialogcard>
    <!--<div id="three-js-project"></div>!-->
    <md-card layout="row" layout-align="start center" style="padding: 15px; width:600px;">
        <span style="width: 35%">Hello EatTheWorld</span>
        <span>
    </span>
        <span flex></span>
        <div style="overflow: hidden;" layout="row">
            <eat-audio src="resources/audios/Hello_EatTheWorld.mp3"></eat-audio>
        </div>
    </md-card>

</div>