<h1>Test</h1>
<div layout="column" layout-align="center center">
<survey style="width: 600px;" questions="[{question: 'What is the capital of Japan?', answers:['Tokyo', 'Kyoto'], correct:0},{question: 'What is the capital of Ethiopia?', answers:['Addis Ababa', 'Kabala'], correct: 0}]"></survey>
<flashcard questions="[{question: 'What is the capital of Japan?', answer:'Tokyo'},{question: 'What is the capital of Ethiopia?', answer:'Addis Ababa'}]"></flashcard>
<dialogcard questions="[{question: 'What is the capital of Japan?', answers:[{front: 'Tokyo', back:'Tokyo is beatifull'}, {front: 'Osaka', back:'Osaka is beatifull'}, {front: 'Kyoto', back:'Kyoto is beatifull'}, {front: 'Seoul', back:'Seoul is beatifull'}]},{question: 'What is the capital of Ethiopia?', answers:[{front: 'Addis Ababa', back:'Addis Ababa is beatifull'}, {front: 'Georgetown', back:'Ethiopia was NEVER Colonised!!!'}]}]"></dialogcard>
<!--eat-audio src="resources/audios/Joyride.mp3"></eat-audio-->
<!--<div id="three-js-project"></div>!-->
</div>