<md-card layout="row" layout-align="space-around center" style="padding: 5px;">
    <div ng-attr-flex="{{$ctrl.noImage ? undefined : 66}}"  layout="row" layout-align="start center" style="padding: 10px">
        <ng-transclude></ng-transclude>
    </div>
    <div ng-attr-flex="{{$ctrl.noImage ? undefined : 33}}" style="overflow: hidden;" layout="row" layout-align="end center" ng-hide="$ctrl.noImage">
        <img src="{{$ctrl.image||'https://via.placeholder.com/400x200&text=Image'}}">
    </div>
</md-card>