* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.japan_wallpaper{
    background: url('resources/images/japan_background_01.svg') 0 90%;
    background-size: cover;
}

.ethiopia_wallpaper{
    background: url('resources/images/ethiopia_background_02.jpg') 0 90%;
    background-size: cover;
}

.ethiopia_wallpaper_general{
    background: url('resources/images/A9.jpg') 0 60%;
    background-size: cover;
}

.clickable {
    cursor: pointer;
}

[class^="md-display"] {
    font-weight: 100;
}

.limit-width {
    max-width: 980px;
    margin: auto;
}

.big-tooltip {
    height: auto !important;
    background: none !important;
    color: initial !important;
    padding: 0;
}
.big-tooltip.md-show {
    opacity: 1 !important;
}