* {
    box-sizing: border-box;
}

.japan_wallpaper{
    background: url('resources/images/japan_background_01.svg') 0% 90%;
    background-size: cover;
}

.ethiopia_wallpaper{
    background: url('resources/images/ethiopia_background_01.svg') 0% 90%;
    background-size: cover;
}

.ethiopia_wallpaper_general{
    background: url('resources/images/A10.jpg') 0% 60%;
    background-size: cover;
}

.clickable {
    cursor: pointer;
}

[class^="md-display"] {
    font-weight: 100;
}
