<style>
    md-card.hoverPic {
        position: relative;
        width: 200px;
        height: 200px;
    }

    md-card.hoverPic > div.hoverPicHolder {
        transition: filter 100ms ease-in;
        z-index: 1;
    }

    md-card.hoverPic:hover > div.hoverPicHolder {
        filter: brightness(50%);
    }
    md-card.hoverPic:hover > div {
        color: white;
    }

    md-card.hoverPic > div {
        color: transparent;
        position: absolute;
        top: 10%;
        left: 10%;
        right: 10%;
        bottom: 10%;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        z-index: 2;
        transition: color 100ms ease-in;
    }

    md-card.hoverPic > div > p {
        margin: 0;
    }

    md-card.hoverPic > div.hoverPicHolder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: center;
        background-size: cover;
    }

    md-card.hoverPic > div.hoverPicHolder > div.hoverPicHolderBackground{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 46px;
        background-color: black;
        opacity: .5;
        transition: opacity 100ms ease-in;
    }

    md-card.hoverPic:hover > div.hoverPicHolder > div.hoverPicHolderBackground{
        opacity: 0;

    }

    md-card.hoverPic > div.hoverPicHolder > div.hoverPicHolderName {
        position: absolute;
        left: 10px;
        bottom: 10px;
        opacity: 1;
        font-size: large;
        transition: opacity 100ms ease-in;
        color: white;
        z-index: 2;
    }


    md-card.hoverPic:hover > div.hoverPicHolder > div.hoverPicHolderName {
        opacity: 0;
    }

</style>


<md-card class="hoverPic">
    <div layout="column" layout-align="center center">
        <h1>{{$ctrl.name}}</h1>
        <p ng-show="$ctrl.desc">{{$ctrl.desc}}</p>
        <ng-transclude></ng-transclude>
    </div>

    <div class="hoverPicHolder" style="background-image: url('{{$ctrl.image || 'http://placekitten.com/200/200'}}'); background-position: center; background-size: cover">
        <div class="hoverPicHolderName">
            {{$ctrl.name}}
        </div>
        <div class="hoverPicHolderBackground">
        </div>
    </div>
</md-card>
