<style>

    .survey .md-button {
        border-radius: 5px;
        line-height: unset;
    }

    .survey {
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
        width: 100%;
    }

    .surveyH1 {
        margin-top: 10px;
    }

    .surveyH2 {
        text-align: center;
    }

    .surveyButton {
        padding: 7px;

    }

    .surveyButton .md-button {
        height: 100%;
        width: 100%;
        font-size: 20px;
        margin: 0;
        white-space: normal;
        text-transform: none;
    }

    .chosen {
        box-shadow: none !important;
    }

    .selected {
        box-shadow: none !important;
        cursor: default;
    }

    .surveyImageContainer {
        width: 100%;
    }

    .surveyImage {
        width: 100%;
    }

    .surveyImageContainer {
        position: relative;
        width: 100%;
        padding-top: 78.25%; /* 16:9 Aspect Ratio + 22%*/
    }

    .surveyImageInner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .surveyQuestion {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .showEvaluation {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @media only screen and (min-width: 600px) {
        .surveyButton .md-button {
            min-height: 56px;
            width: 254px;
        }

        .survey {
            padding: 20px;
            margin: 20px;
            width: 600px;
            height: 744px;
        }

        .surveyQuestion {
            height: 175px;
        }

        .surveyButton:nth-child(odd) div {
            padding-left: 0;
        }

        .surveyButton:nth-child(even) div {
            padding-right: 0;
        }

        .showResults {
            padding-left: 10%;
            padding-right: 10%;
        }

        .showEvaluation {
            height: 175px;
            width: 97.5%;
        }

        .surveyNav .md-button:last-child {
            margin-right: 0;
        }

        .smallerText {
            font-size: 15px !important;
        }

        .smallerText2 {
            font-size: 13px !important;
        }

        .showResults .md-button {
            font-size: 20px;
            max-height: 51px;
        }
    }

    @media only screen and (max-width: 600px) and (min-width: 380px) {

        .survey {
            padding: 2.5%;
            margin: 2.5%;
            width: 95%;
            min-width: 300px;
        }

        .surveyButton {
            padding: 1vw;
        }

        .surveyButton .md-button {
            height: 12vw;
            font-size: 4vw;
        }

        .smallerText {
            font-size: 3.2vw !important;
        }

        .smallerText2 {
            font-size: 2.7vw !important;
        }

        .surveyButton div {
            padding-left: 0;
            padding-right: 0;
        }

        .showResults {
            padding-left: 0;
            padding-right: 0;
        }

        .showResults .md-button {
            margin-left: 0;
            margin-right: 0;
        }

        .showEvaluation {
            height: 51px;
            width: 97.5%;
        }

        .surveyNav .md-button:last-child {
            margin-right: 0;
        }

        /*
        .surveyQuestion {
            height: 250px;
        }
*/
        .surveyQuestion > div {
            /*height: 47vw;*/
            height: 62vw;
        }

        .surveyH2 {
            font-size: 140%;
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
        }

        p {
            margin: 0.5em;
        }

        .showResults .md-button {
            font-size: 20px;
            max-height: 51px;
        }
    }

    @media only screen and (max-width: 380px) {

        .survey {
            margin: 2.5%;
            padding: 2.5%;
            width: 95%;

            font-size: 13px;
        }

        .surveyH1 {
            font-size: 15px;
        }

        .surveyH2 {
            font-size: 17px;
        }

        .surveyButton .md-button {
            height: 35px;
            font-size: 15px;
        }

        .md-button {
            height: 35px;
            font-size: 15px;
            margin: 3px 4px;
            min-width: 44px;
        }

        .layout-row {
            -webkit-box-orient: horizontal;
            -webkit-flex-direction: column;
            flex-direction: column;
        }

        .surveyButton {
            padding: 3px;
        }

        .surveyButton div {
            padding-left: 0;
            padding-right: 0;
        }

        .showResults {
            padding-left: 0;
            padding-right: 0;
        }

        .showResults .md-button {
            margin-left: 0;
            margin-right: 0;
        }

        .surveyQuestion > div {
            /*height: 47vw;*/
            height: 62vw;
        }

        .showEvaluation {
            height: 35px;
            font-size: 15px;
            width: 97.5%;
        }

        p {
            margin: 0.4em;
        }
    }

    .inResult {
        cursor: default !important;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26) !important;
    }

    .setWhite {
        color: rgb(33, 33, 33) !important;
        background-color: rgb(250, 250, 250) !important;
    }

    .setGrey {
        background-color: rgba(0, 0, 0, 0.12) !important;
        color: rgba(0, 0, 0, 0.38) !important;
    }

    .answerFalse {
        /*
        background-color: #800000 !important;
        color: rgba(255,255,255,0.87) !important;
        */
        border: 3px solid #E53935;
        border-radius: 2px;
        box-shadow: none !important;
        cursor: default;
    }

    .answerCorrect {
        /*
        background-color: #4A5D23 !important;
        color: rgba(255,255,255,0.87) !important;
        */
        border: 3px solid #43A047;
        border-radius: 2px;
        box-shadow: none !important;
        cursor: default;

    }

    .answerWould {
        /*
        background-color: #EFCC00 !important;
        color: rgba(255,255,255,0.87) !important;
        */
        border: 3px solid #FFD300;
        border-radius: 2px;
        box-shadow: none !important;
        cursor: default;
    }

    .greenAnswer {
        border: 3px solid #43A047;
        border-radius: 2px;
        display: inline-block;
        width: 6em;
        text-align: center;
        padding: 4px;
    }

    .yellowAnswer {
        border: 3px solid #FFD300;
        border-radius: 2px;
        display: inline-block;
        width: 6em;
        text-align: center;
        padding: 4px;
    }

    .redAnswer {
        border: 3px solid #E53935;
        border-radius: 2px;
        display: inline-block;
        width: 6em;
        text-align: center;
        padding: 4px;
    }
</style>
<div class="survey" layout="column" layout-align="stretch">
    <h1 class="surveyH1">
        <ng-transclude></ng-transclude>
    </h1>
    <div class="surveyImageContainer">
        <div ng-if="$ctrl.isNotUndefined($ctrl.currentQuestion)" class="surveyImageInner" layout="column"
             layout-align="start stretch">
            <img ng-if="$ctrl.shuffledQuestions[$ctrl.currentQuestion].image && !$ctrl.finish"
                 ng-src="{{$ctrl.shuffledQuestions[$ctrl.currentQuestion].image}}" class="surveyImage">
            <div ng-if="!$ctrl.finish" layout="column" layout-align="center center" flex>
                <h2 class="surveyH2">
                    {{$ctrl.shuffledQuestions[$ctrl.currentQuestion].question}}{{$ctrl.isMultiple($ctrl.shuffledQuestions[$ctrl.currentQuestion])?"(multiple choice)":""}}</h2>
            </div>
            <div layout="column" ng-show="$ctrl.finish" layout-align="center center" flex>
                <h2 class="surveyH2">You have answered {{$ctrl.answeredCorrectly}} of {{$ctrl.shuffledQuestions.length}}
                    questions correctly</h2>
                <div layout="column" layout-align="center start">
                    <p><span md-colors="{'background-color': 'grey-A100'}" class="greenAnswer">GREEN</span> buttons are
                        correct answers</p>
                    <p><span class="yellowAnswer">YELLOW</span> buttons are answers that would be correct, but were not
                        selected</p>
                    <p><span md-colors="{'background-color': 'grey-A100'}" class="redAnswer">RED</span> buttons are
                        incorrect answers</p>
                </div>
            </div>
        </div>
    </div>
    <div class="surveyQuestion" layout="column" ng-if="$ctrl.finish" flex>
        <div class="showResults" layout="column" layout-align="center center">
            <md-button ng-click="$ctrl.showResult()" ng-if="$ctrl.finish" class="md-raised md-primary showEvaluation">
                Show Evaluation
            </md-button>
        </div>
    </div>
    <div class="surveyQuestion" layout="column" ng-if="!$ctrl.finish" flex>
        <div ng-model="$ctrl.answered[$ctrl.currentQuestion]"
             ng-if="!$ctrl.isMultiple($ctrl.shuffledQuestions[$ctrl.currentQuestion])" layout-gt-xs="row"
             layout-xs="column" layout-align-xs="center stretch" layout-align-gt-xs="center center" layout-wrap flex>
            <div class="surveyButton" flex-gt-xs="50"
                 ng-repeat="answer in $ctrl.shuffledQuestions[$ctrl.currentQuestion].answers" layout="row"
                 layout-align="center stretch">
                <md-button flex class="md-raised" ng-click="$ctrl.checked($index)"
                           md-colors="($index === $ctrl.answered[$ctrl.currentQuestion])?{'background-color': 'primary', color: 'grey-A100'}:{}"
                           ng-class="{smallerText: $ctrl.textLength(answer) > 50, smallerText2: $ctrl.textLength(answer) > 70, selected: $index === $ctrl.answered[$ctrl.currentQuestion], inResult: $ctrl.inResults, answerWould: $ctrl.wouldTrue($index), answerFalse: $ctrl.isFalse($index), answerCorrect: $ctrl.isCorrect($index), setWhite: ($ctrl.inResults&&!($ctrl.isFalse($index)||$ctrl.isCorrect($index)))||$ctrl.wouldTrue($index), setGrey: $ctrl.isFalse($index)||$ctrl.isCorrect($index)}"
                           ng-disabled="$ctrl.inResults">
                    {{answer}}
                </md-button>
            </div>

        </div>
        <div ng-model="$ctrl.answered[$ctrl.currentQuestion]"
             ng-if="$ctrl.isMultiple($ctrl.shuffledQuestions[$ctrl.currentQuestion])" layout-gt-xs="row"
             layout-xs="column" layout-align-xs="center stretch" layout-align-gt-xs="center center" layout-wrap flex>
            <div class="surveyButton" flex-gt-xs="50"
                 ng-repeat="answer in $ctrl.shuffledQuestions[$ctrl.currentQuestion].answers" layout="row"
                 layout-align="center stretch">
                <md-button flex class="md-raised" ng-click="$ctrl.toggle($index)"
                           md-colors="$ctrl.isInArray($index, $ctrl.answered[$ctrl.currentQuestion])?{'background-color': 'primary', color: 'grey-A100'}:{}"
                           ng-class="{smallerText: $ctrl.textLength(answer) > 50, smallerText2: $ctrl.textLength(answer) > 70, chosen: $ctrl.isInArray($index, $ctrl.answered[$ctrl.currentQuestion]), inResult: $ctrl.inResults, answerWould: $ctrl.wouldTrue($index), answerFalse: $ctrl.isFalse($index), answerCorrect: $ctrl.isCorrect($index),  setWhite: ($ctrl.inResults&&!($ctrl.isFalse($index)||$ctrl.isCorrect($index)))||$ctrl.wouldTrue($index), setGrey: $ctrl.isFalse($index)||$ctrl.isCorrect($index)}"
                           ng-disabled="$ctrl.inResults">
                    {{answer}}
                </md-button>
            </div>
        </div>
    </div>
    <div layout="row" class="surveyNav">
        <p flex>Question {{$ctrl.currentQuestion+1}}/{{$ctrl.shuffledQuestions.length}}</p>
        <md-button ng-click="$ctrl.showCorrect()" ng-if="$ctrl.inResults&&!$ctrl.finish" class="md-raised md-primary">
            Show Score
        </md-button>
        <md-button ng-click="$ctrl.previousItem()" ng-if="!$ctrl.finish"
                   ng-disabled="$ctrl.finish||($ctrl.currentQuestion <= 0)" class="md-raised md-primary">Previous
        </md-button>
        <md-button ng-click="$ctrl.nextItem()" ng-if="!$ctrl.isLast()||$ctrl.inResults" ng-disabled="$ctrl.isLast()"
                   class="md-raised md-primary" ng-disabled="$ctrl.isUndefined($ctrl.answered[$ctrl.currentQuestion])">
            Next
        </md-button>
        <md-button ng-click="$ctrl.repeat()" ng-if="$ctrl.finish" class="md-raised md-primary">Repeat</md-button>
        <md-button ng-click="$ctrl.finishScreen()" ng-if="$ctrl.isLast()&&!$ctrl.finish&&!$ctrl.inResults"
                   class="md-raised md-primary" ng-disabled="$ctrl.isUndefined($ctrl.answered[$ctrl.currentQuestion])">
            Finish
        </md-button>
    </div>
</div>