<style>
    module > div .spacer {
        margin: 3em;
    }
</style>

<module title="No Go's">
    <segment title="Introduction" anchor="Introduction">

        <md-card style="padding: 15px">
            Text
        </md-card>

    </segment>

    <div class="spacer"></div>

    <segment title="Sitting at the table" anchor="Sitting at the table">

        <div hide-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: red; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    done
                </md-icon>
            </div>
        </div>

        <div hide-gt-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="120px" height="120px"
                              radius="10px"></titled-image>

                <md-icon style="color: red; font-size: 3em; position: absolute; right: 10px; bottom: 10px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="120px" height="120px"
                              radius="10px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 3em; position: absolute; right: 10px; bottom: 10px;">
                    done
                </md-icon>
            </div>
        </div>

        <md-card style="padding: 15px">
            Text
        </md-card>

    </segment>

    <div class="spacer"></div>


    <segment title="Tipping" anchor="Tipping">

        <md-card style="padding: 15px">
            Text
        </md-card>

    </segment>

    <div class="spacer"></div>


    <segment title="Eating loudly and slurping" anchor="Eating loudly and slurping">

        <md-card style="padding: 15px">
            Text
        </md-card>

    </segment>

    <div class="spacer"></div>

    <segment title="Eating from other people's plates" anchor="Eating from other people's plates">

        <div hide-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: red; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    done
                </md-icon>
            </div>
        </div>

        <div hide-gt-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="120px" height="120px"
                              radius="10px"></titled-image>

                <md-icon style="color: red; font-size: 3em; position: absolute; right: 10px; bottom: 10px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="120px" height="120px"
                              radius="10px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 3em; position: absolute; right: 10px; bottom: 10px;">
                    done
                </md-icon>
            </div>
        </div>

        <md-card style="padding: 15px">
            Text
        </md-card>

    </segment>


    <div class="spacer"></div>

    <segment title="Absolute No-Go's" anchor="Absolute No-Go's">

        <md-card style="overflow: hidden">
            <video src="resources/videos/bbq.mp4" type="video/mp4" style="max-width: 100%" autoplay loop
                   controls></video>
        </md-card>

        <md-card style="padding: 15px">
            Text
        </md-card>

    </segment>

</module>

<!--
True-False

        <div hide-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="200px" height="200px" radius="20px"></titled-image>

                <md-icon style="color: red; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="200px" height="200px" radius="20px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    done
                </md-icon>
            </div>
        </div>

        <div hide-gt-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="120px" height="120px" radius="10px"></titled-image>

                <md-icon style="color: red; font-size: 3em; position: absolute; right: 10px; bottom: 10px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="120px" height="120px" radius="10px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 3em; position: absolute; right: 10px; bottom: 10px;">
                    done
                </md-icon>
            </div>
        </div>

-->