<style>
    .jp_table {
        width: 90%;
        margin: auto;
    }

    .jp_table tr {
        display: flex;
        flex-direction: row;
    }
    .jp_table th,
    .jp_table td {
        width: 33.3%;
        padding: 8px;
        border-collapse: collapse;
        border: 1px solid black;
    }

    .jp_table th:nth-child(2),
    .jp_table td:nth-child(2) {
        text-align: center;
    }

    .jp_table th:last-child,
    .jp_table td:last-child {
        text-align: right;
    }


    segment div, segment p {
        font-size: 15px;
        line-height: 180%;
    }

    .language { grid-area: column1row1; }
    .languagevalue { grid-area: column1row2; }
    .capital { grid-area: column2row1; }
    .capitalvalue { grid-area: column2row2; }
    .religion { grid-area: column3row1; }
    .religionvalue { grid-area: column3row2; }
    .goverment { grid-area: column4row1; }
    .govermentvalue { grid-area: column4row2; }
    .currency { grid-area: column5row1; }
    .currencyvalue { grid-area: column5row2; }
    .timezone { grid-area: column6row1; }
    .timezonevalue { grid-area: column6row2; }
    .callingcode { grid-area: column7row1; }
    .callingcodevalue { grid-area: column7row2; }
    .population { grid-area: column8row1; }
    .populationvalue { grid-area: column8row2; }
    .area { grid-area: column9row1; }
    .areavalue { grid-area: column9row2; }
    .populationdensity { grid-area: column10row1; }
    .populationdensityvalue { grid-area: column10row2; }
    .bilder1 { grid-area: column1-5row1; }
    .bilder2 { grid-area: column5-10row1; }

    .grid-container {
        /*height: 100vh;*/
        display: grid;
        grid-template-areas:
                'column1-5row1 column1-5row1 column1row1 column1row2'
                'column1-5row1 column1-5row1 column2row1 column2row2'
                'column1-5row1 column1-5row1 column3row1 column3row2'
                'column1-5row1 column1-5row1 column4row1 column4row2'
                'column1-5row1 column1-5row1 column5row1 column5row2'
                'column5-10row1 column5-10row1 column6row1 column6row2'
                'column5-10row1 column5-10row1 column7row1 column7row2'
                'column5-10row1 column5-10row1 column8row1 column8row2'
                'column5-10row1 column5-10row1 column9row1 column9row2'
                'column5-10row1 column5-10row1 column10row1 column10row2';
        grid-column-gap: 1%;
        /*background-color: rgba(63,81,181);*/
        padding: 1%;
        margin:0;
    }

    .grid-container > p {
        background-color: rgba(255, 255, 255);
        /*text-align: center;*/
        /*padding: 2% 0;*/
        font-size: 13px;
    }
    .bilder1{
        padding-bottom: 1%;
    }
    .bilder2{
        padding-top: 1%;
    }
    @media screen and (max-width: 900px) {
        .grid-container {
            /*height: 100vh;*/
            display: grid;
            grid-template-areas:
                    'column1-5row1 column5-10row1'
                    'column1row1 column1row2'
                    'column2row1 column2row2'
                    'column3row1 column3row2'
                    'column4row1 column4row2'
                    'column5row1 column5row2'
                    'column6row1 column6row2'
                    'column7row1 column7row2'
                    'column8row1 column8row2'
                    'column9row1 column9row2'
                    'column10row1 column10row2';
            grid-column-gap: 1%;
            /*background-color: rgba(63,81,181);*/
            padding: 1%;
            margin:0;
        }
        .bilder1{
            padding-bottom: 0;
        }
        .bilder2{
            padding-top: 0;
        }

    }

    /*Instrumente*/
    .begena { grid-area: Icolumn1row1; }
    .kakaki { grid-area: Icolumn1row2; }
    .kebero { grid-area: Icolumn2row1; }
    .kissar { grid-area: Icolumn2row2; }
    .krar { grid-area: Icolumn3row1; }
    .masengo { grid-area: Icolumn3row2; }
    .sistrum { grid-area: Icolumn4row1; }
    .washint { grid-area: Icolumn4row2; }

    .Igrid-container {
        /*height: 100vh;*/
        display: grid;
        grid-template-areas:
                'Icolumn1row1 Icolumn1row2'
                'Icolumn2row1 Icolumn2row2'
                'Icolumn3row1 Icolumn3row2'
                'Icolumn4row1 Icolumn4row2';
        grid-column-gap: 1%;
        /*background-color: rgba(63,81,181);*/
        padding: 1%;
        margin:0;
    }
    .Igrid-container > div >img{
        width: 70%;
        padding-left: 5%;
    }

    @media screen and (max-width: 600px) {

        table {
            width: 100%;
            font-size: 2.8vmin;
        }
    }
</style>

<module title="General">

    <segment title="Introduction" anchor="Introduction">
        <div style="padding: 1%;">

            <div layout-fill class="grid-container">

                <!--Bilder-->

                <img src="resources/images/A9.jpg" width="100%" class="bilder1" >
                <img src="resources/images/A9.jpg" width="100%" class="bilder2" >

                <!--linke Spalte-->

                <p class="language">Official languages </p>
                <p class="capital">Capital</p>
                <p class="religion">Religion</p>
                <p class="goverment">Government</p>
                <p class="currency">Currency</p>
                <p class="timezone">Time zone</p>
                <p class="callingcode">Calling code</p>
                <p class="population">Population</p>
                <p class="area">Area</p>
                <p class="populationdensity">Population density</p>

                <!--rechte Spalte-->

                <p class="languagevalue">Japanese (<i>日本語 Nihongo</i>)</p>
                <p class="capitalvalue">Tokyo (<i>東京</i>)</p>
                <p class="religionvalue">Shinto and Buddhism</p>
                <p class="govermentvalue">Parliamentary Democracy</p>
                <p class="currencyvalue">Japanese Yen (¥) <info-dialog text="100 Japanese Yen equal roughly about 1 Dollar."></info-dialog></p>
                <p class="timezonevalue">GMT+9<br><i>Current Time in Japan:</i> {{$ctrl.timeJapan()}}</p>
                <p class="callingcodevalue">+81</p>
                <p class="populationvalue">About 127 Million people <info-dialog text="In 2017, Japan's population was 126.8 Million people"></info-dialog></p>
                <p class="areavalue">378,000 km<sup>2</sup></p>
                <p class="populationdensityvalue">336/km<sup>2</sup> (2014)</p>

            </div>
        </div>
    </segment>

    <segment title="History" anchor="History">
        <p flex style="padding: 1%;padding-top: 0%; text-align: justify">

        </p>

    </segment>

    <segment title="Calendar" anchor="Calendar">

        <p style="padding: 1%;padding-top: 0%; text-align: justify">
            The way the year is calculated in Japan is completely different than in any other country.<br>
            Every time a new emperor is elected, a new 'era' of reign is beginning. The first year of someone's era would
            be the first year of that emperor's time. For example, the year 2018 was called the thirtieth year of the
            Heisei-time.<br>
            But rest assured - the Gregorian calendar is also used in Japan and if you mention a year past 2000, everyone
            will understand what you are talking about. Though in day-to-day conversations, the japanese type of year is
            usually used.
        </p>

        <md-card style="padding: 15px; background: #ffebf6; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">
                Major Holidays
            </h4>
        </md-card>

        <div style="width: 90%; margin: auto">
            <h4 style="margin-bottom: 0">
                <md-icon style="position: relative; bottom: 3px">calendar_today</md-icon>
                New Year's
            </h4>
            <p style="padding: 1%;padding-top: 0%; text-align: justify; margin: 3px 8px 3px -5px">
                The new year is wildly celebrated within Japan, more than christmas. There are many traditions happening
                during new year and before, during and after this time, there are some free days.<br>
                Unlike China, the new year is celebrated on December 31<sup>st</sup>/January 1<sup>st</sup>.
            </p>
            <h4 style="margin-bottom: 0">
                <md-icon style="position: relative; bottom: 3px">calendar_today</md-icon>
                Golden Week
            </h4>
            <p style="padding: 1%;padding-top: 0%; text-align: justify; margin: 3px 8px 3px -5px">
                Golden Week is actually a series of several national holidays, but since they all happen so close together,
                all within the same week, it is like a whole week of holidays.<br>
                Golden Week takes place from the end of April to the start of May.
            </p>
            <h4 style="margin-bottom: 0">
                <md-icon style="position: relative; bottom: 3px">calendar_today</md-icon>
                The Emperor's birthday
            </h4>
            <p style="padding: 1%;padding-top: 0%; text-align: justify; margin: 3px 8px 3px -5px">
                In Japan, the birthday of the currently reigning emperor is a national holiday. Some birthdays of past
                emperors also get celebrated. It is a very important day for the japanese population.<br>
                For the year 2019, this day falls on December 23<sup>rd</sup>.
            </p>
            <p>
                <md-icon class="material-icons" style="position: relative; bottom: 3px">
                    info
                </md-icon>
                When a holiday falls on a Sunday, it will automatically be moved to the next Monday afterwards!
            </p>
        </div>

        <md-card style="padding: 15px; background: #ffebf6; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">
                Seasons
            </h4>
        </md-card>
        <table class="jp_table" style="padding: 1%;  text-align: left" layout="column">
            <tr style="background: #ffe0f8">
                <th>Season</th>
                <th>Japanese Name</th>
                <th>Traditional Dates</th>
            </tr>
            <tr style="background: #ffebf6">
                <td>Spring</td>
                <td>春 <i>haru</i></td>
                <td>February 5<br>to May 6</td>
            </tr>
            <tr style="background: #ffe0f8">
                <td>Summer</td>
                <td>夏 <i>natsu</i></td>
                <td>May 7<br>to August 8</td>
            </tr>
            <tr style="background: #ffebf6">
                <td>Autumn</td>
                <td>秋 <i>aki</i></td>
                <td>August 9<br>to November 7</td>
            </tr>
            <tr style="background: #ffe0f8">
                <td>Winter</td>
                <td>冬 <i>fuyu</i></td>
                <td>November 8<br>to February 4</td>
            </tr>
        </table>
    </segment>
</module>
