<country-overview>
    <module-preview
            title="General"
            description="General information like population, religion, time zones, politics or calendar."
            image="resources/images/japan_general.jpg"
            state="japan-general"
            color="rgb(62, 154, 216)">
    </module-preview>
    <module-preview
            title="Food"
            description="National dishes and how to eat them, as well as often used ingredients."
            image="resources/images/japan_food.jpg"
            state="japan-food"
            color="rgb(141, 87, 50)">
    </module-preview>
    <module-preview
            title="Language"
            description="How to say and pronounce common phrases, national dishes and other food-based vocabulary."
            image="resources/images/japan_language.jpg"
            state="japan-food"
            color="rgb(198, 195, 192)">
    </module-preview>
    <module-preview
            title="Rituals"
            description="Common behaviour and rituals before, during and after eating."
            image="resources/images/japan_rituals.jpg"
            state="japan-rituals"
            color="rgb(182, 111, 62)">
    </module-preview>
    <module-preview
            title="No-Go's"
            description="Commonly made mistakes and how to avoid them, together with customs."
            image="resources/images/japan_nogos.jpg"
            state="japan-nogos"
            color="rgb(155, 130, 120)">
    </module-preview>
    <module-preview
            title="Quiz"
            description="Test your knowledge too see how much you have learned."
            image="resources/images/japan_quiz.jpg"
            state="japan-food"
            color="rgb(51, 54, 51)">
    </module-preview>
</country-overview>