<style>
    module > div .spacer {
        margin: 3em;
    }
</style>

<module title="Rituals and Habits">
    <segment title="Introduction" anchor="Introduction">

        <text-card image="https://via.placeholder.com/400x200&text=Image">
            Text
        </text-card>

    </segment>

    <div class="spacer"></div>

    <segment title="Before eating" anchor="Before eating">

        <text-card>
            Text
        </text-card>

        <audio-card src="https://opengameart.org/sites/default/files/powerup_01.wav">
            Audio
        </audio-card>

    </segment>

    <div class="spacer"></div>

    <segment title="After eating" anchor="After eating">

        <text-card>
            Text
        </text-card>

        <audio-card src="https://opengameart.org/sites/default/files/powerup_01.wav">
            Audio
        </audio-card>

    </segment>

    <div class="spacer"></div>

    <segment title="Order of eating" anchor="Order of eating">

        <md-card style="padding: 15px">
            Text
        </md-card>

        <md-card style="overflow: hidden">
            <img src="https://via.placeholder.com/1000x400&text=Image">
        </md-card>

    </segment>



</module>