<style>
    module > div .spacer {
        margin: 3em;
    }
</style>

<module title="Rituals">
    <segment title="Introduction" anchor="Introduction">

        <text-card image="https://via.placeholder.com/400x200&text=Image">
            Text
        </text-card>

    </segment>

    <div class="spacer"></div>

    <segment title="Before eating" anchor="Introduction">

        <text-card>
            Text
        </text-card>

        <audio controls flex="66">
            <source src="https://opengameart.org/sites/default/files/powerup_01.wav" type="audio/wav">
        </audio>

    </segment>
</module>