<style>
    .jp_table {
        width: 80%;
        margin: auto;
    }

    .jp_table tr {
        display: flex;
        flex-direction: row;
    }
    .jp_table th,
    .jp_table td {
        width: 33.3%;
    }

    .jp_table th:nth-child(2),
    .jp_table td:nth-child(2) {
        text-align: center;
    }

    .jp_table th:last-child,
    .jp_table td:last-child {
        text-align: right;
    }


    segment div, segment p {
        font-size: 15px;
        line-height: 180%;
    }

    .language { grid-area: column1row1; }
    .languagevalue { grid-area: column1row2; }
    .capital { grid-area: column2row1; }
    .capitalvalue { grid-area: column2row2; }
    .religion { grid-area: column3row1; }
    .religionvalue { grid-area: column3row2; }
    .goverment { grid-area: column4row1; }
    .govermentvalue { grid-area: column4row2; }
    .currency { grid-area: column5row1; }
    .currencyvalue { grid-area: column5row2; }
    .timezone { grid-area: column6row1; }
    .timezonevalue { grid-area: column6row2; }
    .callingcode { grid-area: column7row1; }
    .callingcodevalue { grid-area: column7row2; }
    .population { grid-area: column8row1; }
    .populationvalue { grid-area: column8row2; }
    .area { grid-area: column9row1; }
    .areavalue { grid-area: column9row2; }
    .populationdensity { grid-area: column10row1; }
    .populationdensityvalue { grid-area: column10row2; }
    .bilder1 { grid-area: column1-5row1; }
    .bilder2 { grid-area: column5-10row1; }

    .grid-container {
        /*height: 100vh;*/
        display: grid;
        grid-template-areas:
                'column1-5row1 column1-5row1 column1row1 column1row2'
                'column1-5row1 column1-5row1 column2row1 column2row2'
                'column1-5row1 column1-5row1 column3row1 column3row2'
                'column1-5row1 column1-5row1 column4row1 column4row2'
                'column1-5row1 column1-5row1 column5row1 column5row2'
                'column5-10row1 column5-10row1 column6row1 column6row2'
                'column5-10row1 column5-10row1 column7row1 column7row2'
                'column5-10row1 column5-10row1 column8row1 column8row2'
                'column5-10row1 column5-10row1 column9row1 column9row2'
                'column5-10row1 column5-10row1 column10row1 column10row2';
        grid-column-gap: 1%;
        /*background-color: rgba(63,81,181);*/
        padding: 1%;
        margin:0;
    }

    .grid-container > p {
        background-color: rgba(255, 255, 255);
        /*text-align: center;*/
        /*padding: 2% 0;*/
        font-size: 13px;
    }
    .bilder1{
        padding-bottom: 1%;
    }
    .bilder2{
        padding-top: 1%;
    }
    @media screen and (max-width: 900px) {
        .grid-container {
            /*height: 100vh;*/
            display: grid;
            grid-template-areas:
                    'column1-5row1 column5-10row1'
                    'column1row1 column1row2'
                    'column2row1 column2row2'
                    'column3row1 column3row2'
                    'column4row1 column4row2'
                    'column5row1 column5row2'
                    'column6row1 column6row2'
                    'column7row1 column7row2'
                    'column8row1 column8row2'
                    'column9row1 column9row2'
                    'column10row1 column10row2';
            grid-column-gap: 1%;
            /*background-color: rgba(63,81,181);*/
            padding: 1%;
            margin:0;
        }
        .bilder1{
            padding-bottom: 0;
        }
        .bilder2{
            padding-top: 0;
        }

    }

    /*Instrumente*/
    .begena { grid-area: Icolumn1row1; }
    .kakaki { grid-area: Icolumn1row2; }
    .kebero { grid-area: Icolumn2row1; }
    .kissar { grid-area: Icolumn2row2; }
    .krar { grid-area: Icolumn3row1; }
    .masengo { grid-area: Icolumn3row2; }
    .sistrum { grid-area: Icolumn4row1; }
    .washint { grid-area: Icolumn4row2; }

    .Igrid-container {
        /*height: 100vh;*/
        display: grid;
        grid-template-areas:
                'Icolumn1row1 Icolumn1row2'
                'Icolumn2row1 Icolumn2row2'
                'Icolumn3row1 Icolumn3row2'
                'Icolumn4row1 Icolumn4row2';
        grid-column-gap: 1%;
        /*background-color: rgba(63,81,181);*/
        padding: 1%;
        margin:0;
    }
    .Igrid-container > div >img{
        width: 70%;
        padding-left: 5%;
    }

    @media screen and (max-width: 600px) {

        table{
            width: 100%;
            font-size: 2.8vmin;
        }
    }
</style>

<module title="General">

    <segment title="Introduction" anchor="Introduction">
        <div style="padding: 1%;">

            <div layout-fill class="grid-container">

                <!--Bilder-->

                <img src="resources/images/A9.jpg" width="100%" class="bilder1" >
                <img src="resources/images/A9.jpg" width="100%" class="bilder2" >

                <!--linke Spalte-->

                <p class="language">Official languages </p>
                <p class="capital">Capital</p>
                <p class="religion">Religion</p>
                <p class="goverment">Government</p>
                <p class="currency">Currency</p>
                <p class="timezone">Time zone</p>
                <p class="callingcode">Calling code</p>
                <p class="population">Population</p>
                <p class="area">Area</p>
                <p class="populationdensity">Population density</p>

                <!--rechte Spalte-->

                <p class="languagevalue">Japanese (<i>日本語 Nihongo</i>)</p>
                <p class="capitalvalue">Tokyo (<i>東京</i>)</p>
                <p class="religionvalue">Shinto and Buddhism</p>
                <p class="govermentvalue">Parliamentary Democracy</p>
                <p class="currencyvalue">Japanese Yen (¥) <info-dialog text="100 Japanese Yen equal roughly about 1 Dollar."></info-dialog></p>
                <p class="timezonevalue">GMT+9<br><i>Current Time in Japan:</i> {{$ctrl.timeJapan()}}</p>
                <p class="callingcodevalue">+81</p>
                <p class="populationvalue">About 127 Million people <info-dialog text="In 2017, Japan's population was 126.8 Million people"></info-dialog></p>
                <p class="areavalue">378,000 km<sup>2</sup></p>
                <p class="populationdensityvalue">336/km<sup>2</sup> (2014)</p>

            </div>
        </div>
    </segment>

    <segment title="History" anchor="History">
        <p flex style="padding: 1%;padding-top: 0%; text-align: justify">

        </p>

    </segment>

    <segment title="Calendar" anchor="Calendar">

        <p style="padding: 1%;padding-top: 0%; text-align: justify">
            The way the year is calculated in Japan is completely different than in any other country.<br>
            Every time a new emperor is elected, a new 'era' of reign is beginning. The first year of someone's era would
            be the first year of that emperor's time. For example, the year 2018 was called the thirtieth year of the
            Heisei-time.<br>
            But rest assured - the Gregorian calendar is also used in Japan and if you mention a year past 2000, everyone
            will understand what you are talking about. Though in day-to-day conversations, the japanese type of year is
            usually used.
        </p>

        <md-card style="padding: 15px; background: #ffebf6; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">
                Major Holidays
            </h4>
        </md-card>

        <p style="padding: 1%;padding-top: 0%; text-align: justify">

        </p>

        <md-card style="padding: 15px; background: #ffebf6; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">
                Seasons
            </h4>
        </md-card>
        <table class="jp_table" style="padding: 1%;  text-align: left" layout="column">
            <tr>
                <th>Season</th>
                <th>Japanese Name</th>
                <th>Traditional Dates</th>
            </tr>
            <tr>
                <td>Spring</td>
                <td>春 <i>haru</i></td>
                <td>February 5 – May 6</td>
            </tr>
            <tr>
                <td>Summer</td>
                <td>夏 <i>natsu</i></td>
                <td>May 7 – August 8</td>
            </tr>
            <tr>
                <td>Autumn</td>
                <td>秋 <i>aki</i></td>
                <td>August 9 – November 7</td>
            </tr>
            <tr>
                <td>Winter</td>
                <td>冬 <i>fuyu</i></td>
                <td>November 8 – February 4</td>
            </tr>
        </table>

        <h2>&nbsp;&nbsp;Months - starts
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Major public hollidays</h2>

        <span layout="row">
       <table style="padding: 1%;  text-align: left">
            <tr>
                <th>Ethiopian calendar </th>
                <th>Gregorian calendar </th>
            </tr>

            <tr>
                <td>Meskerem</td>
                <td>September 11</td>
            </tr>

            <tr>
                <td>Tikemet</td>
                <td>October 11</td>
            </tr>

            <tr>
                <td>Hidar</td>
                <td>November 10</td>
            </tr>

            <tr>
                <td>Tahesas</td>
                <td>December 10</td>
            </tr>

            <tr>
                <td>Tir</td>
                <td>January 9</td>
            </tr>

           <tr>
               <td>Yekatit</td>
               <td>Februar 8</td>
           </tr>

           <tr>
               <td>Megabit</td>
               <td>March 10</td>
           </tr>

           <tr>
               <td>Miyaza</td>
               <td>April 9</td>
           </tr>.
           <tr>
               <td>Ginbot</td>
               <td>May 9</td>
           </tr>
           <tr>
               <td>Sene</td>
               <td>June 8</td>
           </tr>
           <tr>
               <td>Hamie</td>
               <td>July 8</td>
           </tr>
           <tr>
               <td>Nehase</td>
               <td>August 7</td>
           </tr>
           <tr>
               <td>Pagume</td>
               <td>September 6</td>
           </tr>

        </table>



        <table style="padding: 1%; text-align: left">
            <tr>
                <th>Ethiopian calendar </th>
                <th>Gregorian calendar </th>
            </tr>

            <tr>
                <td>Ethiopian Christmas (=Genna) </td>
                <td>January 7</td>
            </tr>

            <tr>
                <td>Ethiopian Epiphany (=Timket)</td>
                <td>January 19</td>
            </tr>

            <tr>
                <td>Victtory of Adwa Day</td>
                <td>March 2</td>
            </tr>
            <tr>
                <td>Ethiopian Good Friday (=Siklet)</td>
                <td>~April 6</td>
            </tr>
            <tr>
                <td>Ethiopian Easter (=Fasika)</td>
                <td>~April 27</td>
            </tr>

            <tr>
                <td>Ethiopian New Year (=Enqutatash)</td>
                <td>September 11</td>
            </tr>

        </table>
            </span>
    </segment>

    <segment title="Time" anchor="Time">

        <p style="padding: 1%; padding-top: 0%; text-align: justify">

            The time in Ethiopia is counted differently from many other Western African countries. They use a
            12-hour clock, with one cycle of 1 to 12 and there are two cycles/ways to tell the time. The first one
            is from dawn to dusk (AM) and the other one is from dusk to dawn (PM). Most countries start the day at
            midnight while the day in Ethiopian starts with the sunrise, due to its location near the Equator it is
            almost always sunny. For example, 2 AM local Ethiopian time is called 8 AM in East Africa time. To
            convert between the Ethiopian clock and East clocks, one muss add (or subtract) 6 hours to the East
            African time.
        </p>
    </segment>
</module>
