<module title="Food">
    <segment title="Introduction" anchor="Introduction">

        <md-card layout="row" layout-align="space-around center" style="padding: 5px;">
            <div flex="66" layout="row" layout-align="start center" >
                <p>
                Text
            </p>
            </div>
            <div flex="33" style="overflow: hidden;" layout="row" layout-align="center center" >
                <img src="https://via.placeholder.com/400x200&text=Image">
            </div>
        </md-card>

        <md-card layout="column">
            <h1 style="margin-left: 15px; font-weight: lighter;">A typical meal</h1>
            <img src="https://via.placeholder.com/1000x600&text=Image+Hotspot">
        </md-card>

    </segment>
    <segment title="National dishes" anchor="Introduction">

        <md-card layout="column">
            <h1 style="margin-left: 15px; font-weight: lighter;">3D-View</h1>
            <img src="https://via.placeholder.com/1000x600&text=3D-Ansicht+/+Slider">
        </md-card>

        <div layout="row" layout-align="space-around center" layout-wrap>
            <image-card title="Sushi">Text</image-card>
            <image-card title="Sashimi">Text</image-card>
            <image-card title="Maki">Text</image-card>
            <image-card title="Miso Soup">Text</image-card>
            <image-card title="Ramen">Text</image-card>
            <image-card title="Udon">Text</image-card>
            <image-card title="Bento">Text</image-card>
            <image-card title="Wagyu">Text</image-card>
        </div>

    </segment>
</module>