<style>
    ethiopia-language segment div, segment p {
        font-size: 15px;
        line-height: 180%;
    }

    ethiopia-language .play md-card {
        width: 40vw;
        height: fit-content;
        padding: 5px;
    }

    ethiopia-language .play p {
        font-weight: bolder;
    }

    @media screen and (max-width: 600px) {
        ethiopia-language .play md-card {
            width: 100%;
            height: fit-content;
            padding: 5px;
        }

        ethiopia-language table {
            width: 100%;
            font-size: 3vmin;
        }
    }

    ethiopia-language img {
        width: 100%;
    }

    ethiopia-language table {
        width: 100%;
    }
</style>

<module title="Language: Amharic">

    <segment title="General information about Amharic" anchor="General information about Amharic">
        <div>
            <h2>Alphabet and pronunciations</h2>
            <p>
                The national language of Ethiopia is Amharic which is the second most spoken Semetic language
                worldwide and has its origin in the Amhara region. It is written with a version of Ge`ze script
                known as Fidel, which is a syllabary. There are 33 basic Fidels which are being altered in various
                ways by attaching a vowel.
            </p>

            <table>
                <tr>
                    <th>Vowel</th>
                    <td>ä</td>
                    <td>u</td>
                    <td>i</td>
                    <td>a</td>
                    <td>e</td>
                    <td>ï</td>
                    <td>o</td>
                </tr>
                <tr>
                    <th>Sounds like</th>
                    <td>again</td>
                    <td>moon</td>
                    <td>feet</td>
                    <td>father</td>
                    <td>way</td>
                    <td>pin</td>
                    <td>War</td>
                </tr>
            </table>

            <p>
                The Amharic syllabary is usually presented as a grid with the vowels in the horizontal axis and
                the consonants in the vertical axis. Below is the syllabary in the most common ha-hu order:
            </p>
            <img src="http://localhost:63342/EatTheWorld/app/resources/images/ethiopia_amharic_alphabet.png"/>

        </div>
    </segment>

    <segment title="Play" anchor="Language">
        <div layout="row" style="flex-wrap: wrap" class="play">
            <md-card layout="column" layout-align="space-around">
                <div flex="66" layout="column">
                    <p style="padding: 5px;">
                        Coffee
                    </p>
                </div>
                <div flex="33" style="overflow: hidden;" layout="row">
                    <!--
                    <eat-audio controls flex="66">
                        <source src="resources/eat-audios/Coffee.wav" type="eat-audio/wav">
                    </eat-audio>
                    -->
                    <eat-audio src="resources/audios/Coffee.wav" type="audio/wav"></eat-audio>
                    <div flex="70"></div>
                    <div flex="30">
                        buna
                        <br>
                        ቡና
                    </div>
                </div>
            </md-card>

            <md-card layout="column" layout-align="space-around">
                <div flex="66" layout="column">
                    <p style="padding: 5px;">
                        Dinner
                    </p>
                </div>
                <div flex="33" style="overflow: hidden;" layout="row">
                    <eat-audio src="resources/audios/Abendessen.wav" controls flex="66"></eat-audio>
                    <div flex="10"></div>
                    <div flex="30">
                        irat
                        <br>
                        እራት
                    </div>
                </div>
            </md-card>

            <md-card layout="column" layout-align="space-around">
                <div flex="66" layout="column">
                    <p style="padding: 5px;">
                        Bread
                    </p>
                </div>
                <div flex="33" style="overflow: hidden;" layout="row">
                    <eat-audio src="resources/audios/Bread.wav" controls flex="66">

                    </eat-audio>
                    <div flex="10"></div>
                    <div flex="30">
                        dabo
                        <br>
                        ዳቦ
                    </div>
                </div>
            </md-card>

            <md-card layout="column" layout-align="space-around">
                <div flex="66" layout="column">
                    <p style="padding: 5px;">
                        Breakfast
                    </p>
                </div>
                <div flex="33" style="overflow: hidden;" layout="row">
                    <eat-audio src="resources/audios/Breakfast.wav" controls flex="66">
                    </eat-audio>
                    <div flex="10"></div>
                    <div flex="30">
                        k’uris
                        <br>
                        ቁርስ
                    </div>
                </div>
            </md-card>

            <md-card layout="column" layout-align="space-around">
                <div flex="66" layout="column">
                    <p style="padding: 5px;">
                        Bye
                    </p>
                </div>
                <div flex="33" style="overflow: hidden;" layout="row">
                    <eat-audio src="resources/audios/Bye.wav" controls flex="66">
                    </eat-audio>
                    <div flex="10"></div>
                    <div flex="30">
                        chawu
                        <br>
                        ቻዉ
                    </div>
                </div>
            </md-card>

            <md-card layout="column" layout-align="space-around">
                <div flex="66" layout="column">
                    <p style="padding: 5px;">
                        Cheers
                    </p>
                </div>
                <div flex="33" style="overflow: hidden;" layout="row">
                    <eat-audio src="resources/audios/Cheers.wav" controls flex="66"></eat-audio>
                    <div flex="10"></div>
                    <div flex="30">
                        let’ēninetachin
                        <br>
                        ለጤንነታችን
                    </div>
                </div>
            </md-card>

            <md-card layout="column" layout-align="space-around">
                <div flex="66" layout="column">
                    <p style="padding: 5px;">
                        Enjoy your meal
                    </p>
                </div>
                <div flex="33" style="overflow: hidden;" layout="row">
                    <eat-audio src="resources/audios/Enjoy_your_meal.wav" controls flex="66"></eat-audio>
                    <div flex="10"></div>
                    <div flex="30">
                        melikam mēgēb
                        <br>
                        መልካም ሜጌብ
                    </div>
                </div>
            </md-card>

            <md-card layout="column" layout-align="space-around">
                <div flex="66" layout="column">
                    <p style="padding: 5px;">
                        Excuse me
                    </p>
                </div>
                <div flex="33" style="overflow: hidden;" layout="row">
                    <eat-audio src="resources/audios/Excuse_me.wav" controls flex="66"></eat-audio>
                    <div flex="10"></div>
                    <div flex="30">
                        yik’irta
                        <br>
                        ይቅርታ
                    </div>
                </div>
            </md-card>

            <md-card layout="column" layout-align="space-around">
                <div flex="66" layout="column">
                    <p style="padding: 5px;">
                        Hallo
                    </p>
                </div>
                <div flex="33" style="overflow: hidden;" layout="row">
                    <eat-audio src="resources/audios/Hallo2.wav" controls flex="66"></eat-audio>
                    <div flex="10"></div>
                    <div flex="30">
                        selam
                        <br>
                        ሰላም
                    </div>
                </div>
            </md-card>

            <md-card layout="column" layout-align="space-around">
                <div flex="66" layout="column">
                    <p style="padding: 5px;">
                        Menu
                    </p>
                </div>
                <div flex="33" style="overflow: hidden;" layout="row">
                    <eat-audio src="resources/audios/Menu.wav" controls flex="66"></eat-audio>
                    <div flex="10"></div>
                    <div flex="30">
                        yemigib mazezha
                        <br>
                        የምግብ ማዘዣ
                    </div>
                </div>
            </md-card>

            <md-card layout="column" layout-align="space-around">
                <div flex="66" layout="column">
                    <p style="padding: 5px;">
                        Lunch
                    </p>
                </div>
                <div flex="33" style="overflow: hidden;" layout="row">
                    <eat-audio src="resources/audios/Mittagessen.wav" controls flex="66"></eat-audio>
                    <div flex="10"></div>
                    <div flex="30">
                        misa
                        <br>
                        ምሳ
                    </div>
                </div>
            </md-card>

            <md-card layout="column" layout-align="space-around">
                <div flex="66" layout="column">
                    <p style="padding: 5px;">
                        no
                    </p>
                </div>
                <div flex="33" style="overflow: hidden;" layout="row">
                    <eat-audio src="resources/audios/No.wav" controls flex="66"></eat-audio>
                    <div flex="10"></div>
                    <div flex="30">
                        āyi
                        <br>
                        አይ
                    </div>
                </div>
            </md-card>

            <md-card layout="column" layout-align="space-around">
                <div flex="66" layout="column">
                    <p style="padding: 5px;">
                        I do not want to
                    </p>
                </div>
                <div flex="33" style="overflow: hidden;" layout="row">
                    <eat-audio src="resources/audios/No2.wav" controls flex="66"></eat-audio>
                    <div flex="10"></div>
                    <div flex="30">
                        ālfeligim
                        <br>
                        አልፈልግም
                    </div>
                </div>
            </md-card>

            <md-card layout="column" layout-align="space-around">
                <div flex="66" layout="column">
                    <p style="padding: 5px;">
                        popcorn
                    </p>
                </div>
                <div flex="33" style="overflow: hidden;" layout="row">
                    <eat-audio src="resources/audios/Popcorn.wav" controls flex="66"></eat-audio>
                    <div flex="10"></div>
                    <div flex="30">
                        fandisha
                        <br>
                        ፋንድሻ
                    </div>
                </div>
            </md-card>

        </div>
    </segment>

</module>
