<div layout="column">
    <survey questions="[

        {question: 'Because of it’s geographic location and climate, Japanese food mostly consists of…?',
                        answers:['fish and rice', 'pork and salt', 'salads and oils', 'pizza and burgers'], correct: 0},

        {question: 'With which Currency can you pay your meals in Japan?', answers:['Yen', 'Birr'], correct: 0},

        {question: 'What would be the Japanese equivalent to a lunchbox?', answers:['Udon',
        'Bento', 'Wagyu', 'Matcha'], correct: 1},

        {question: 'Which of the following is considered a National dish in japan?', answers:['Schnitzel',
        'Ramen', 'Käsekrainer', 'Maki'], correct: [1, 3]},

        {question: 'What’s the purpose of the wet Towel you get when entering a Japanese restaurant?', answers:['So you can wipe your hands before eating', 'To cool or warm your head', 'As a blanket for your table', 'It’s supposed to bring luck'], correct: [0, 1]},

        ]" shuffle="true">

        Japan Quiz
    </survey>
</div>