<style>
    module > div .spacer {
        margin: 3em;
    }

    image-card p {

    }
</style>

<module title="Food">
    <segment title="Introduction" anchor="Introduction">

        <text-card image="https://via.placeholder.com/400x200&text=Image">
            The japanese cuisine has a long and varied history, though because of its geographic location and climate,
            within the ingredients of japanese food, fish and rice have always been a part of it. For spices, soy sauce
            is usually used instead of salt or pepper.<br>
            Japanese meals are usually made out of a lot of small dishes that are eaten together.
        </text-card>

        <info-dialog text="jagfiueshfiewhfiuehfuifbwiufbufihdhwutdz7ezfiueshfirjfiofjoifoaif oi oiufera iugfwaiu uif ewiuf giurg uaierh eiugfh iuerhg fiuerh ui34 hi3ug hwiug hqi3u eriu geri3ug iuerwhg iuerhtiu heriu hgriue hgreu hri3u gh43oiu froiu h4 ut4 iu3h iu34 ti43 tuo53hg oi4h goi3gh oi3 j4j po43 ihi3 hoi3u hg34u ht43uh i4hg oiehg oi3 h4ig ji4g ji4g je4ig jei4gjie 4sjgi ej">
        </info-dialog>

    </segment>

    <div class="spacer"></div>

    <segment title="National dishes" anchor="National dishes">

        <slideshow heading="Test">
            <div>dwaefegaudehifrewiufnowirdlgr9i8gfrei9u</div>
            <img src="http://localhost:63342/EatTheWorld/app/resources/images/ethiopia_quiz.jpg" />
            <wrap heading="A typical meal">
                <image-hotspots src="resources/images/Worldmap.jpg">
                    <simple-hotspot x="10" y="50"></simple-hotspot>
                </image-hotspots>
            </wrap>
            <wrap heading="yay 3D" style="max-height: 500px">
                <three-viewer model="untitled">
                </three-viewer>
            </wrap>
        </slideshow>

        <div layout="row" layout-align="space-between start" layout-wrap style="margin-left: 2%; margin-right: 2%;">
            <image-card title="Sushi (寿司)"><p>
                Sushi is probably the most known traditional food in Japan. It is a variety of dishes that all contain
                mostly of raw fish and rice, usually mixed with ingredients like seaweed or vegetables. In history, putting
                the raw fish on top of rice was a means to preserve the fish and prevent it from spoiling. At some point,
                the Japanese began to eat the rice together with the fish and make a variety of different meals with
                it.
            </p></image-card>
            <image-card title="Sashimi (刺し身)"><p>
                Sashimi is a special kind of sushi that is not served together with rice. Since it is just raw fish, it
                has to be very fresh. When served, the meat is sliced into extremely thin slices and often eaten with soy
                sauce.
            </p></image-card>
            <image-card title="Maki (巻き寿司)"><p>
                Maki are a type of rolled sushi. There are many types like Futomaki, Hosomaki, Ehōmaki or Temaki, but in
                the most common way they are prepared on a large nori sheet (nori is a type of edible sea weed) with rice
                and long stripes of vegetables and such. They are then rolled and sliced to multiple pieces, which gives
                them their cylindrical shape.
            </p></image-card>
            <image-card title="Miso Soup (みそ汁)"><p>
                This traditional soup is made using miso, which is an ingredient that consists out of fermented soybeans.
                It often is a part of a typical japanese meal served in a small bowl, and is eaten without a spoon. To eat
                it, you will have to take the bowl close to your mouth and pick out the ingredients and drink the soup.
            </p></image-card>
            <image-card title="Ramen (ラーメン)"><p>
                Ramen is a hot soup with noodles. It is often flavoured using soy sauce and it uses a variety of other
                ingredients like pork, seaweed, tofu, etc. Nearly every region in Japan has its own variation of ramen.<br>
                You can eat ramen by first picking out the noodles and ingredients with chopsticks and then drink the soup
                out of the bowl.
            </p></image-card>
            <image-card title="Udon (うどん)"><p>
                Udon are somewhat similar to ramen, but they use another type of noodles. Unlike ramen, they are not filled
                with lots of extra ingredients and kept very simple, as the thick noodles are already very filling.
            </p></image-card>
            <image-card title="Bento (弁当)" id="bento"><p>
                Bento is somewhat similar to a lunchbox, but they have a large variety of different ingredients and take
                a lot of time to make. They are home-made boxes with a single portion of food and a traditional bento usually
                contains rice or noodles, fish or meat and cooked vegetables, but there are all kinds of different bento.<br>
                Of course, not every bento has to be self-made, there is always a large selection of bentos you can buy at
                a supermarket. They are quite convenient when you are traveling and do not have much time.
            </p></image-card>
            <image-card title="Wagyu (和牛)"><p>
                Wagyu is a classic japanese type of beef. It is high-grade meat with high fat and a characteristic marbling.
                Its tender meat is known world-wide.
            </p></image-card>
            <span class="hideMeLater" style="display:none">
                Sushi (<i>寿司</i>):<br>
                Sushi is probably the most known traditional food in Japan. It is a variety of dishes that all contain
                mostly of raw fish and rice, usually mixed with ingredients like seaweed or vegetables. In far away history,
                putting the raw fish on top of rice was a means to preserve the fish and prevent it from spoiling. At some
                point, the japanese began to eat the rice together with the fish and make a variety of different meals with
                it.<br>
                Sashimi (<i>刺し身</i>):<br>
                Sashimi is a special kind of sushi that is not served together with rice. Since it is just raw fish, it
                has to be very fresh. When served, the meat is sliced into extremely thin slices and often eaten with soy
                sauce.<br>
                Maki (<i>巻き寿司</i>):<br>
                Maki are a type of rolled sushi. There are many types like Futomaki, Hosomaki, Ehōmaki or Temaki, but in
                the most common way they are prepared on a large nori sheet (nori is a type of edible sea weed) with rice
                and long stripes of vegetables and such. They are then rolled and sliced to multiple pieces, which gives
                them their cylindrical shape.<br>
                Miso Soup (<i>みそ汁</i>):<br>
                This traditional soup is made using miso, which is an ingredient that consists out of fermented soybeans.
                It often is a part of a typical japanese meal served in a small bowl, and is eaten without a spoon. To eat
                it, you will have to take the bowl close to your mouth and pick out the ingredients and drink the soup.<br>
                Ramen (<i>ラーメン</i>):<br>
                Ramen is a hot soup with noodles. It is often flavoured using soy sauce and it uses a variety of other
                ingredients like pork, seaweed, tofu, etc. Nearly every region in Japan has its own variation of ramen.<br>
                You can eat ramen by first picking out the noodles and ingredients with chopsticks and then drink the soup
                out of the bowl.<br>
                Udon (<i>うどん</i>):<br>
                Udon are somewhat similar to ramen, but they use another type of noodles. Unlike ramen, they are not filled
                with lots of extra ingredients and kept very simple, as the thick noodles are already very filling.<br>
                Bento (<i>弁当</i>):<br>
                Bento is somewhat similar to a lunchbox, but they have a large variety of different ingredients and take
                a lot of time to make. They are home-made boxes with a single portion of food and a traditional bento usually
                contains rice or noodles, fish or meat and cooked vegetables, but there are all kinds of different bento.<br>
                Of course, not every bento has to be self-made, there is always a large selection of bentos you can buy at
                a supermarket.<br>
                They are quite convenient when you are traveling and do not have much time.<br>
                time.<br>
                Wagyu (<i>和牛</i>):<br>
                Wagyu is a classic japanese type of beef. It is high-grade meat with high fat and a characteristic marbling.
                Its tender meat is known world-wide.<br>
            </span>
        </div>

    </segment>

    <div class="spacer"></div>

    <segment title="National drinks" anchor="National drinks">

        <div layout="row" layout-align="space-between center" layout-wrap style="margin-left: 2%; margin-right: 2%;">
            <image-card title="Sake (酒 sake)">
                Sake is a japanese rice wine. It is an alcoholic beverage produced by fermenting rice. You should not pour
                your own glass of sake, as it is considered to be rude. You usually pour your neighbours glass and they
                return the favour.
            </image-card>
            <image-card title="Water (お水 omizu)">
                When you enter a restaurant, you do not have to necessarily order something to drink, because free glasses
                are normally placed on the table before you even order.<br>
                When you order water ('omizu') in a restaurant, it will automatically be cold water. If you do not want
                your water to be cold, you will need to order 'oyu', which means warm water.
            </image-card>
            <image-card title="Grean Tea (お茶 ocha)">
                Green Tea is a varient of making tea, where non-fermented tea leaves are being used. In every restaurant,
                you will get a free cup of green tea without even ordering it.<br>
                99.9% of tea produced in Japan is green tea.
            </image-card>
            <image-card title="Matcha (抹茶 matcha)">
                Matcha is a varient of green tea, where the leaves are grinded and made into powder. You drink the tea together
                with the powder. Traditionally, a warm matcha tea is drunk during tea ceremony.<br>
                Matcha is often used as a flavour for sweets or cookies.
            </image-card>
            <span class="hideMeLater" style="display:none">
                Sake (<i>酒 sake</i>):<br>
                Sake is a japanese rice wine. It is an alcoholic beverage produced by fermenting rice. You should not pour
                your own glass of sake, as it is considered to be rude. You usually pour your neighbours glass and they
                return the favour.<br>
                Water (<i>お水 omizu</i>):<br>
                When you enter a restaurant, you do not have to necessarily order something to drink, because free glasses
                are normally placed on the table before you even order.<br>
                When you order water ('omizu') in a restaurant, it will automatically be cold water. If you do not want
                your water to be cold, you will need to order 'oyu', which means warm water.<br>
                Green Tea (<i>お茶 ocha</i>):<br>
                Green Tea is a varient of making tea, where non-fermented tea leaves are being used. In every restaurant,
                you will get a free cup of green tea without even ordering it.<br>
                99.9% of tea produced in Japan is green tea.<br>
                Matcha (<i>抹茶 matcha</i>):<br>
                Matcha is a varient of green tea, where the leaves are grinded and made into powder. You drink the tea together
                with the powder. Traditionally, a warm matcha tea is drunk during tea ceremony.<br>
                Matcha is often used as a flavour for sweets or cookies.<br>
            </span>
        </div>

        <!--infotext>Text</infotext-->

    </segment>

    <div class="spacer"></div>

    <segment title="Snacks & side dishes" anchor="Snacks & side dishes">

        <div layout="row" layout-align="space-between center" layout-wrap style="margin-left: 2%; margin-right: 2%;">
            <image-card title="Senbei (煎餅 senbei)">
                Senbei are a snack made out of rice which are hard crackers that came in various shapes and sizes. They
                are mostly salty, like the ones wrapped in nori, but there is also sweet variants, which are often eaten
                together with green tea.
            </image-card>
            <image-card title="Mochi (餅 mochi)">

            </image-card>
            <image-card title="Raw Egg (生卵 nama tamago)">

            </image-card>
            <image-card title="Fruit (果物 kudamono)">

            </image-card>
            <image-card title="Red Bean Paste (餡こ anko)">

            </image-card>
            <image-card title="Edamame (枝豆 edamame)">

            </image-card>
            <image-card title="Gyoza (ギョーザ gyoza)">

            </image-card>
            <span class="hideMeLater">
                Senbei (<i>煎餅 senbei</i>):<br>
                Senbei are a snack made out of rice which are hard crackers that came in various shapes and sizes. They
                are mostly salty, like the ones wrapped in nori, but there is also sweet variants, which are often eaten
                together with green tea.
                Mochi (<i>餅 mochi</i>):<br>

                https://youtu.be/tmSrULDVRPc<br>
                Raw Eggs (<i>生卵 nama tamago</i>):<br>

                Fruit (<i>果物 kudamono</i>):<br>

                Red Bean Paste (<i>餡こ anko</i>):<br>

                Edamame (<i>枝豆 edamame</i>):<br>

                Gyoza (<i>ギョーザ gyoza</i>):<br>

            </span>
        </div>

    </segment>

    <div class="spacer"></div>

    <segment title="Ingredients & Spices" anchor="Ingredients & Spices">

        <div style="margin: 1em"></div>

        <infotext>Text</infotext>

        <div style="margin: 1em"></div>

        <infotext>Text</infotext>

        <div style="margin: 1em"></div>

        <div layout="row" layout-align="start start" layout-wrap style="margin-left: 2%; margin-right: 2%;">
            <hover-image name="Rice" desc="Description"></hover-image>
            <hover-image name="Vegetables" desc="Description"></hover-image>
            <hover-image name="Fish" desc="Description"></hover-image>
            <hover-image name="Wasabi" desc="Description"></hover-image>
            <hover-image name="Tofu" desc="Description"></hover-image>
            <hover-image name="Soy Sauce" desc="Description"></hover-image>
            <hover-image name="Nori" desc="Description"></hover-image>
        </div>

    </segment>
</module>