<style>
    module > div .spacer {
        margin: 3em;
    }
</style>

<module title="No Go's">
    <segment title="Introduction" anchor="Introduction">

        <md-card style="padding: 15px">
            Text
        </md-card>

    </segment>

    <div class="spacer"></div>

    <segment title="Sitting at the table" anchor="Sitting at the table">

        <div hide-xs layout="row" layout-align="space-around center">

            <titled-image title="" src="resources/images/ethiopia_nogos_2.jpg" width="200px" height="200px" radius="20px"></titled-image>

            <md-icon>close</md-icon>

            <titled-image title="" src="resources/images/japan_nogos.jpg" width="200px" height="200px" radius="20px"></titled-image>

            <md-icon>done</md-icon>
        </div>

        <div hide-gt-xs layout="row" layout-align="space-around center">

            <titled-image title="" src="resources/images/ethiopia_nogos_2.jpg" width="120px" height="120px" radius="10px"></titled-image>

            <titled-image title="" src="resources/images/japan_nogos.jpg" width="120px" height="120px" radius="10px"></titled-image>

        </div>

        <md-card style="padding: 15px">
            Text
        </md-card>

    </segment>

    <div class="spacer"></div>


    <segment title="Tipping" anchor="Tipping">

        <md-card style="padding: 15px">
            Text
        </md-card>

    </segment>

    <div class="spacer"></div>


    <segment title="Eating loudly and slurping" anchor="Eating loudly and slurping">

        <md-card style="padding: 15px">
            Text
        </md-card>

    </segment>

    <div class="spacer"></div>

    <segment title="Eating from other people's plates" anchor="Eating from other people's plates">

        <div hide-xs layout="row" layout-align="space-around center">

            <titled-image title="" src="resources/images/ethiopia_nogos_2.jpg" width="200px" height="200px" radius="20px"></titled-image>

            <md-icon>close</md-icon>

            <titled-image title="" src="resources/images/japan_nogos.jpg" width="200px" height="200px" radius="20px"></titled-image>

            <md-icon>done</md-icon>
        </div>

        <div hide-gt-xs layout="row" layout-align="space-around center">

            <titled-image title="" src="resources/images/ethiopia_nogos_2.jpg" width="120px" height="120px" radius="10px"></titled-image>

            <titled-image title="" src="resources/images/japan_nogos.jpg" width="120px" height="120px" radius="10px"></titled-image>

        </div>

        <md-card style="padding: 15px">
            Text
        </md-card>

    </segment>

    <div class="spacer"></div>

    <segment title="Absolute No-Go's" anchor="Absolute No-Go's">

        <md-card style="padding: 15px">
            Text
        </md-card>

    </segment>

</module>