<module title="General">
    <segment title="Introduction" anchor="Introduction">
        <p>
            Each country has their own faux. In Ethiopia there are a few to consider. How do I greet a person, how do I behave at religious sites? To make sure that the visit does not unknowingly ends in a disaster but in a success. So here is a list of all sorts of interesting information about Ethiopia you should know.
        </p>
    </segment>

    <segment title="Greetings" anchor="Greetings">
        <numbered-card number="1" image="" color="#39573380">
            Do not walk past someone you know without greeting them
        </numbered-card>

        <numbered-card number="2" image="" color="#39573380">
            Don’t rush through a greeting, it is important that people greet one another even if they do not speak the same language
        </numbered-card>

        <numbered-card number="3" image="" color="#39573380">
            The eldest person is greeted first out of respect. Their age is thought to indicate wisdom, knowledge and experience
        </numbered-card>

        <numbered-card number="4" image="" color="#39573380">
            Greeting strangers: common to shake hands, using the right hand or both hands
        </numbered-card>

        <numbered-card number="5" image="" color="#39573380">
            Greeting friends: often put one another’s cheeks against each other around three times
        </numbered-card>

        <numbered-card number="6" image="" color="#39573380">
            Greeting Muslims: Some Muslims may prefer not to embrace members of the opposite gender unless they are a close family member. Therefore, men should wait until a woman extends her hand first before extending his own hand for a handshake
        </numbered-card>

        <numbered-card number="7" image="" color="#39573380">
            Use people’s titles to address them until they allow you to use their first name. Common titles include ‘Ato’ (Mr), ‘Woizerit’ (Miss) and ‘Woizero’ (Mrs).
        </numbered-card>

        <numbered-card number="8" image="" color="#39573380">
            If a person with higher status or respect enters the room, it is polite to stand up
        </numbered-card>
    </segment>

    <segment title="Basic Etiquette" anchor="Basic Etiquette">
        <numbered-card number="1" image="" color="#39573380">
            Avoid using your left hand to passing objects, use the right hand or both hands together
        </numbered-card>

        <numbered-card number="2" image="" color="#39573380">
            In some regions it is forbidden to take pictures
        </numbered-card>

        <md-card style="padding: 15px; background: #39573380; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">Outfit</h4>
        </md-card>

        <numbered-card number="1" image="" color="#39573380">
            It is important that the outfit is not too revealing. Even if the heat tempts to wear mini skirt or co
        </numbered-card>

        <md-card style="padding: 15px; background: #39573380; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">Invitation and payment</h4>
        </md-card>

        <numbered-card number="1" image="" color="#39573380">
            It is expected to politely decline an invitation multiple times before accepting on the second or third time. The invitation shows hospitality and the refusal shows humbleness and that one is not greedy.
        </numbered-card>

        <numbered-card number="2" image="" color="#39573380">
            That means that Ethiopians may refuse your offer out of politeness. Therefore, offer it more than once to give them the opportunity to accept something on the second or third attempt.
        </numbered-card>

        <numbered-card number="3" image="" color="#39573380">
            It is inappropriate to ask to split a bill. The person who invites the other person to a meal is expected to pay at the restaurant.
        </numbered-card>

        <md-card style="padding: 15px; background: #39573380; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">Time</h4>
        </md-card>

        <numbered-card number="1" image="" color="#39573380">
            punctuality is not that important.
        </numbered-card>

        <numbered-card number="2" image="" color="#39573380">
            the pace of life is generally slower
        </numbered-card>

        <numbered-card number="3" image="" color="#39573380">
            tasks may take a while to complete in Ethiopia, so plan more time and be patient if things last longer than expected.
        </numbered-card>

        <md-card style="padding: 15px; background: #39573380; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">Religion</h4>
        </md-card>

        <numbered-card number="1" image="" color="#39573380">
            Don’t disrespect religion, be it Orthodox Christianity, Protestantism or Islam
        </numbered-card>

        <numbered-card number="2" image="" color="#39573380">
            Don’t ask someone about their ethnicity.
        </numbered-card>

    </segment>

    <segment title="Visiting" anchor="Visiting">
        <numbered-card number="1" image="" color="#39573380">

        </numbered-card>

        <numbered-card number="2" image="" color="#39573380">

        </numbered-card>

        <numbered-card number="3" image="" color="#39573380">

        </numbered-card>

    </segment>

    <segment title="Church" anchor="Church">
        <p>

        </p>
    </segment>

    <segment title="Eating" anchor="Eating">
        <p>

        </p>
    </segment>
</module>