<style>
    module > div .spacer {
        margin: 3em;
    }

    image-card p {

    }

    food image-card {
        width: 40vw;
        height: fit-content;
        padding: 5px;
    }
</style>

<module title="Food & Drinks">
    <segment title="Introduction" anchor="Introduction">
        <p style="padding: 1%; padding-top: 0; text-align: justify">
            Staple makes a special sourdough flatbread name Injera.
            This is ideally made from the native Ethiopian grain Teff.
            Various sauces called Wot are served for this purpose,
            which are available in different various vegetarian and meat versions.
            The rule is: whoever can afford, eats meat, among other things, lamb is popular.
            Pork, on the other hand, is only eaten by missionary Christians because Islam and the Ethiopian Orthodox
            Church outlaw its consumption.
            Eaten with the right hand. The Injera replaces the cutlery and represents the garnish, or the bread.
            You simply tear off small parts of the pita, grab a piece of the meat or vegetable preparations and bring it
            to your mouth.
            As a particularly friendly it is to put the part of the participating part directly to the mouth (Gursha).
            Generally, the Ethiopian food is very spicy, mostly by the spice.
        </p>
    </segment>

    <segment title="National dishes" anchor="National dishes">

        <slideshow heading="Test">
            <wrap heading="A typical meal">
                <image-hotspots src="resources/images/Worldmap.jpg">
                    <simple-hotspot x="10" y="50" heading="text" description="lorem ipsum"></simple-hotspot>
                </image-hotspots>
            </wrap>
            <wrap heading="A typical meal">
                <image-hotspots src="resources/images/Worldmap.jpg">
                    <simple-hotspot x="10" y="50" description="lorem ipsum"></simple-hotspot>
                </image-hotspots>
            </wrap>
        </slideshow>
        <!--<div layout="row" style="flex-wrap: wrap" class="food">-->
        <h3>Breakfast</h3>
        <div layout="row" layout-align="space-between start" layout-wrap style="margin-left: 2%; margin-right: 2%;">

            <image-card image="resources\images\ethiopia_food\firfir.jpg" title="Firfir (ፌርፊር)" audio="">
                <p>
                    <u>description:</u> Torn up injera mixed with Ethiopian butter and berbere
                    <br>
                    <u>taste:</u> hot
                    <br>
                    <u>texture:</u>
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\chechebsa.jpg" title="Chechebsa (ጨጨብሳ)" audio="resources/audios/Popcorn.wav">
                <p>
                    <u>description:</u>Torn up pita mixed with Ethiopian butter and berbere
                    <br>
                    <u>taste:</u> hot
                    <br>
                    <u>texture:</u>
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\Kinche.png" title="Kinche ()" audio="">
                <p>
                    <u>description:</u> Cracked wheat with Ethiopian butter
                    <br>
                    <u>taste:</u>
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\beso.jpg" title="Beso ()" audio="">
                <p>
                    <u>description:</u>: Barley with Ethiopian butter
                    <br>
                    <u>taste:</u>
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\genfo.jpg" title="Genfo ()">
                <p>
                    <u>description:</u> Flour with Ethiopian butter and berbere
                    <br>
                    <u>taste:</u> hot
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\segatibs.jpg" title="Sega tibs ()" audio="">
                <p>
                    <u>description:</u> Cut meat (whole or slightly seared) with onions, garlic, rosemary, green
                    pepperoni and Ethiopian butter which is served with injera or
                    <br>
                    <u>taste:</u>
                    <br>
                    <u>additional information:</u> It is served with injera or Ethiopian bread
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\kitfo.jpg" title="Kitfo ()" audio="">
                <p>
                    <u>description:</u> Minced beef (raw or lightly seared) with Ethiopian butter, mitmita and corrorima
                    <br>
                    <u>taste:</u> hot
                    <br>
                    <u>additional information:</u> it is being served with injera or kocho (thick hearty flatbread made
                    from ensete)
                </p>
            </image-card>

        </div>

        <h3>Lunch and Dinner</h3>
        <div layout="row" layout-align="space-between start" layout-wrap
             style="margin-left: 2%; margin-right: 2%;flex-wrap: wrap" class="food">

            <image-card image="resources\images\ethiopia_food\fasikadorowat.jpg" title="Key Sega Wot ()" audio="">
                <p>
                    description: Meat, onion, oil, Ethiopian butter, garlic, ginger, berbere, Ethiopian spice mekelesha
                    <br>
                    taste: hot
                    <br>
                    additional information: served with injera
                </p>
            </image-card>

            <image-card image="resources\images\ethiopianalechasegawot.jpg" title="Alecha Sega Wot ()" audio="">
                <p>
                    description: Meat, onion, oil, Ethiopian butter, garlic, ginger, kurkuma, Ethiopian spice
                    alechakemem
                    <br>
                    taste:
                    <br>
                    additional information: served with injera
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\fasikadorowat.jpg"  title="Key Dorowot ()" audio="">
                <p>
                    description: Chicken, onion, oil, garlic, ginger, berbere, corrorima, Ethiopian butter, boiled egg,
                    Ethiopian spice mekelesha
                    <br>
                    taste: hot
                    <br>
                    additional information: served with injera
                </p>
            </image-card>

            <image-card image="resources\images\ethiopianalechasegawot.jpg"  title="Alecha Dorowot ()" audio="">
                <p>
                    description: Chicken, onion, oil, garlic, ginger, corrorima, Ethiopian butter, boiled egg, kurkuma,
                    Ethiopian spice alechakemem
                    <br>
                    taste:
                    <br>
                    additional information: served with injera
                </p>
            </image-card>


            <image-card image="resources\images\ethiopia_food\keymisirwot.jpg"  title="Key Misir Wot  ()" audio="">
                <p>
                    description: Split red lintel, onion, oil, garlic powder, ginger powder, corrorima, berbere
                    <br>
                    taste: hot
                    <br>
                    additional information: served with injera
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\alechamisirwot.jpg"  title="Alecha Misir Wot ()" audio="">
                <p>
                    description: Split red lintel, onion, oil, garlic powder, ginger powder, kurkuma, Ethiopian spice
                    alechakemem
                    <br>
                    taste:
                    <br>
                    additional information: served with injera
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\keykikwot.jpg" title="Key Kik Wot ()" audio="">
                <p>
                    description: Split lintel, onion, oil, garlic powder, berbere
                    <br>
                    taste: hot
                    <br>
                    additional information: served with injera
                </p>
            </image-card>

            <image-card  image="resources\images\ethiopia_food\alechakikwot.jpeg"  title="Alecha Kik Wot ()" audio="">
                <p>
                    description: Split lintel, onion, oil, garlic powder, kurkuma
                    <br>
                    taste:
                    <br>
                    additional information: served with injera
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\gomen.jpg" title="Gomen  ()" audio="">
                <p>
                    description: pound collard greens, onion, oil, garlic, pepper
                    <br>
                    taste:
                    <br>
                    additional information: served with injera
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\tikelgomen.jpg" title="Tikel Gommen ()" audio="">
                <p>
                    description: sliced cabbage, sliced carrot, onion, oil, pepper, cut potatoes, garlic, kurkuma
                    <br>
                    taste:
                    <br>
                    additional information: served with injera
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\shiro.jpg" title="Shiro ()" audio="">
                <p>
                <h4>Key:</h4>
                description: onion, oil, garlic powder, chickpea flour served with injera
                <br>
                taste: hot
                <br>
                additional information: served with injera
                <h4>Meten:</h4>
                description: onion, oil, ginger powder, garlic powder, corrorima, Ethiopian spice mekelesha, berbere
                served with injera
                <br>
                taste: hot
                <br>
                additional information: served with injera
                <h4>Alecha:</h4>
                description: onion, oil, garlic powder, corrorima, Ethiopian spice alechakemem served with injera
                <br>
                taste
                <br>
                additional information: served with injera

                </p>
            </image-card>
        </div>
        <!--</div>-->
    </segment>

    <segment title="National drinks" anchor="National drinks">

        <h3>Softdrinks</h3>
        <div layout="row" layout-align="space-between center" layout-wrap style="margin-left: 2%; margin-right: 2%;">
            <image-card image="resources\images\ethiopia_food\mirinda.jpg" title="Mirinda ()">
            </image-card>

            <image-card image="resources\images\ethiopia_food\fanta-pineapple-soda.jpg" title="Fanta (pinepple) ">
            </image-card>

            <image-card image="resources\images\ethiopia_food\fanta-orange-can.jpg" title="Fanta (orange)">
            </image-card>

            <image-card image="resources\images\ethiopia_food\coca-cola-classic.jpg" title="CocaCola ()">
            </image-card>

            <image-card image="resources\images\ethiopia_food\sprite.jpg" title="Sprite ()">
            </image-card>

            <image-card image="resources\images\ethiopia_food\water.jpg" title="Amboha ()">
            </image-card>

        </div>

        <h3>Coffee/Tee</h3>
        <div layout="row" layout-align="space-between center" layout-wrap style="margin-left: 2%; margin-right: 2%;">

            <image-card image="resources\images\ethiopia_food\coffee.jpg" title="Buna ()">
                <p>
                    <u>description:</u>
                    <br>
                    <u>taste:</u>
                    <br>
                    <u>texture:</u>
                    <br>
                    <u>additional information:</u> Ethiopian coffee is mostly drunk at the coffee ceremony
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\shai.jpg" title="Shai ()">
                <p>
                    <u>description:</u> cardamom, cinnamon, cloves
                    <br>
                    <u>taste:</u> sweet
                    <br>
                    <u>texture:</u>
                    <br>
                    <u>additional information:</u> the Ethiopian spiced tea is usually already served with a lot of
                    sugar in it and is filled to the edge until it spills over a little
                </p>
            </image-card>

        </div>


        <h3>Alcohol</h3>
        <div layout="row" layout-align="space-between center" layout-wrap style="margin-left: 2%; margin-right: 2%;">
            <image-card image="resources\images\ethiopia_food\tej.jpg" title="Tetj ()">
                <p>
                    description: honey, rhamnus, prinoides, water
                    <br>
                    taste: sweet taste that masks its high alcohol content
                    <br>
                    texture:
                    <br>
                    additional information: It is being served in a traditional vessel, which has a rounded vase-shaped
                    container called berele, which looks like a Florence flask
                    <br>
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\tella.jpg" title="Tella (ጠላ)">
                <p>
                    description: teff flour, sorghum, corn, wheat, rhamnus prinoides, water
                    <br>
                    taste: beer/smoky flavour/
                    <br>
                    texture:
                    <br>
                    additional information: The alcohol content of unfiltered Tella is usually around 2–4 Volume
                    percent, filtered tella contains about 5–6 vol%
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\areke.jpg" title="Areke ()">
                <p>
                    description: rhamnus prinoides, corn, water
                    <br>
                    taste:
                    <br>
                    texture:
                    <br>
                    additional information: strongest alcoholic drink, contains 70%
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\berz.jpg" title="Berz ()">
                <p>
                    description: honey, water
                    <br>
                    taste: sweet
                    <br>
                    texture:
                    <br>
                    additional information: it is the less-alcoholic version of tej, and is aged for a shorter time
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\bier.jpg" title="Bira ()">
                <p>
                    most common drank Beers
                    <br>
                    Bira Walia, Meta Bira, Harer Bira
                </p>
            </image-card>

        </div>

        <!--infotext>Text</infotext-->

    </segment>

    <segment title="Snacks & side dishes" anchor="Snacks & side dishes">
        <div layout="row" layout-align="space-between start" layout-wrap style="margin-left: 2%; margin-right: 2%;">

            <image-card image="resources\images\ethiopia_food\injera.jpg" title="Injera ()" audio="">
                <p>
                    description: Teff flour, fresh yeast, water, salt
                    <br>
                    taste: slightly sour
                    <br>
                    texture: soft
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\dabo.jpg" title="Dabo ()" audio="">
                <p>
                    description: wheat flour, yeast, coriander, cumin, cardamom, oil, sugar, salt
                    <br>
                    taste:
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\ambasha.jpg" title="Ambasha ()" audio="">
                <p>
                    description: wheat flour, yeast, sugar, salt, oil, black sesame seeds
                    <br>
                    taste:
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\dabokolo.jpg" title="Dabokolo ()" audio="">
                <p>
                    description: Flour, berbere (optional), sugar, salt, oil, yeast
                    <br>
                    taste: hot (optional)
                </p>
            </image-card>

            <image-card image="resources\images\ethiopia_food\kolo.jpg" title="Kolo ()" audio="">
                <p>
                    description: safflower seeds, chickpea, whole grains wheat and legumes
                    <br>
                    taste:
                </p>
            </image-card>

        </div>
    </segment>

    <segment title="Seasons-period of feasting" anchor="Seasons">

        <div>
            Ethiopia is a highly religious country with the majority of people either Orthodox Christian or Muslim.
            Those who follow Ethiopian Orthodox Christianity are prohibited from eating eating all animal products
            during
            the fasting for over 200 days out of the year. This includes during lent, religious holidays and every
            Wednesday and Friday except those following Easter.
            That makes many Orthodox Ethiopians vegan for more than half the year. Typical fasting dishes include
            injera,
            mild and spicy stews (wot) made with oil instead of ethiopian butter and variations of whole and powdered
            lentils, split peas, chick peas, sunflowers, and broad beans.
            Vegetables include various preparations of beets, Kale, cabbage, potato, and fresh tomatoes.
        </div>

    </segment>

    <segment title="Ingredients & Spices" anchor="Ingredients & Spices">
        <h4>Food</h4>
        <div layout="row" style="flex-wrap: wrap">

            <titled-image src="" title="ethiopian butter"></titled-image>

            <!--<h3>Spices</h3>-->
            <titled-image src="resources\images\ethiopia_food" title="berbere"></titled-image>
            <titled-image src="" title="mitmita"></titled-image>
            <titled-image src="" title="correrima"></titled-image>
            <titled-image src="resources\images\ethiopia_food\Ginger.jpg" title="ginger"></titled-image>
            <titled-image src="" title="Ethiopian spice mekelesha"></titled-image>
            <titled-image src="" title="kurkuma"></titled-image>
            <titled-image src="" title=" Ethiopian spice alechakemem"></titled-image>
            <titled-image image="resources\images\ethiopia_food\Garlic.jpg" title="garlic"></titled-image>
            <titled-image src="" title="rosemary"></titled-image>
            <titled-image src="" title="coriander"></titled-image>
            <titled-image src="" title="cumin"></titled-image>
            <titled-image src="" title="cardamon"></titled-image>

            <titled-image src="" title="black sesame seeds"></titled-image>
            <titled-image src="" title="safflower seeds"></titled-image>
            <titled-image src="" title="legumes"></titled-image>


            <titled-image src="resources/images/ethiopia_food/" title="wheat"></titled-image>
            <titled-image src="resources/images/ethiopia_food/" title="barley"></titled-image>
            <titled-image src="resources/images/ethiopia_food/" title="ensete"></titled-image>
            <titled-image src="resources/images/ethiopia_food/" title="chickpea"></titled-image>
            <titled-image src="resources/images/ethiopia_food/" title="teff"></titled-image>
            <titled-image src="resources/images/ethiopia_food/" title="yeast"></titled-image>

            <titled-image src="resources/images/ethiopia_food/" title="meat"></titled-image>

            <titled-image src="resources/images/ethiopia_food/" title="onion"></titled-image>
            <titled-image src="resources/images/ethiopia_food/" title="green pepperoni"></titled-image>
            <titled-image src="resources/images/ethiopia_food/" title="collard greens"></titled-image>
            <titled-image src="resources/images/ethiopia_food/" title="cabbage"></titled-image>
            <titled-image src="resources/images/ethiopia_food/" title="carrot"></titled-image>
            <titled-image src="resources/images/ethiopia_food/" title="pepper"></titled-image>
            <titled-image src="resources/images/ethiopia_food/" title="potatoes"></titled-image>

            <titled-image src="resources/images/ethiopia_food/redlintel" title="red lintel"></titled-image>


            <titled-image src="resources/images/ethiopia_food/honey.jpg" title="honey"></titled-image>
            <titled-image src="resources/images/ethiopia_food/rhamus.jpg" title="rhamnus prinoides"></titled-image>
            <titled-image src="resources/images/ethiopia_food/corn.jpg" title="corn"></titled-image>
            <titled-image src="resources/images/ethiopia_food/sorghum.jpg" title="sorghum"></titled-image>
        </div>

    </segment>

</module>