<country-overview layout-fill class="ethiopia_wallpaper">
    <module-preview
            title="General"
            image="//img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2017/07/18/Foreign/Images/_MG_0001.JPG?uuid=ZGYQ2GcQEeeUq1sfD_RZ3w"
            description="gfherogheorigheoighokw"
            state="ethiopia-general">
    </module-preview>
    <module-preview
            title="Language"
            image="//img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2017/07/18/Foreign/Images/_MG_0001.JPG?uuid=ZGYQ2GcQEeeUq1sfD_RZ3w"
            description="gfherogheorigheoighokw"
            state="ethiopia-language">
    </module-preview>
    <module-preview
            title="Do's & Don'ts"
            image="//img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2017/07/18/Foreign/Images/_MG_0001.JPG?uuid=ZGYQ2GcQEeeUq1sfD_RZ3w"
            description="gfherogheorigheoighokw"
            state="ethiopia-nogosanddoes">
    </module-preview>
    <module-preview
            title="Food"
            image="//img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2017/07/18/Foreign/Images/_MG_0001.JPG?uuid=ZGYQ2GcQEeeUq1sfD_RZ3w"
            description="gfherogheorigheoighokw"
            state="ethiopia-food">
    </module-preview>
</country-overview>