<div layout="column" layout-align-gt-xs="start center">
    <survey questions="[{question: 'Which of the following is the capital of Ethiopia?', image: 'resources/images/ethiopia_quiz.jpg',
                        answers:['Paris', 'Addis Abeba', 'Kahrtum', 'Juba'], correct: 1},

        {question: 'With which Currency can you pay your meals in Ethiopia?', answers:['Birr', 'Dollar'], correct: 0},

        {question: 'Has Ethiopia ever been colonised?', answers:['Only a five year occupation by Italy.',
        'No, never', 'For 25 years by Great Britain in the 18. Century', 'Yes, three times'], correct: 0},

        {question: 'What’s the word for Coffee in Amharic?', answers:['Irat', 'Dablo', 'K´uris', 'Buna'], correct: 3},

        {question: 'What is the typical National dish in Ethiopia?', answers:['Schnitzel',
        'Injera + Dorowot', 'Noodle', 'Maki'], correct: 1},

        {question: 'Which of these Meals are considered Ethiopian Breakfast?', answers:['Firfir', 'Chechebsa', 'Kinche', 'Bread with Jam'], correct: [0, 1, 2]},

        ]" shuffle="true">

        Ethiopia Quiz
    </survey>
</div>