<div class="ethiopia_wallpaper_general">


<module title="General">
    <segment title="Introduction" anchor="Introduction">
        <div layout="row" layout-xs="column" style="padding: 1%">
            <div flex>
                <img src="test.png">
                <img src="test.png">
            </div>
            <div flex>
                Official languages <br>
                <hr>
                Capital<br>
                <hr>
                Religion<br>
                <hr>
                Government<br>
                <hr>
                Currency<br>
                <hr>
                Time zone<br>
                <hr>
                Calling code<br>
                <hr>
                Population<br>
                <hr>
                Area<br>
                <hr>
                Population density<br>
            </div>
            <div flex>
                Amharic<br>
                <hr>
                Addis Abeba<br>
                <hr>
                Orthodox Christian (43.5%),
                Muslim (33.9%)-(2018)<br>
                <hr>
                Federal dominant-party parliamentary republic<br>
                <hr>
                Birr<br>
                <hr>
                UTC+3<br>
                <hr>
                +251<br>
                <hr>
                102,403,196 (2016)<br>
                <hr>
                1,104,300 km2<br>
                <hr>
                92/km2<br>
            </div>
        </div>
    </segment>

    <segment title="History" anchor="History">
        <p style="padding: 1%; text-align: justify">
            Ethiopian is a landlocked country in the northeast of Africa and its largest city is its capital city Addis Abeba (=New Flower).
            It is Africa´s oldest independent country and it is the second largest in terms of population. Apart from a five-year occupation by Italy Ethiopian has never been colonised. It retained its sovereignty from a long-term colonialism by a European colonial power. Ethiopian has served as a symbol of African independence and was a founder member of the United Nations and the African base for many international organisations. Many newly-independent nations on the continent subsequently adopted its flag colours.
            In addition to that some of the oldest skeletal have been found in Ethiopia. The archaeologist discovered a 3.5-million-year-old fossil skeletons in 1974, which they named Lucy (=Australopithecus). The Anthropologists believe that it is the region from which modern humans first set out for the Middle east and places beyond.
        </p>
    </segment>

    <segment title="Culture" anchor="Culture">
        <div style="padding: 1%; text-align: justify">
            <h3>Costume</h3>
            <p style="padding: 1%;">
                The Ethiopian traditional costume is made of woven cotton. Ethiopian men and women wear this traditional costume called gabbi or Netella. Women often wear dresses (Kemis) and netella with borders of coloured embroidered woven crosses, but other designs are also used.
                Other ethnic groups and tribes in the south and west of the country wear different costumes that reflect their own traditions. Some tribes partially cover their body with leather but others do not wear any clothes at all, merely decorating their faces and bodies with distinctive images
            </p>
            <h3>Instrumente</h3>
            <table style="padding: 1%;">
                <tr>
                    <th>Begena</th>
                    <th>Kakaki</th>
                    <th>Kebero</th>
                    <th>Kissar</th>
                </tr>
                <tr style="height: 100px">
                    <td>IMG</td>
                    <td>IMG</td>
                    <td>IMG</td>
                    <td>IMG</td>
                </tr>
                <tr>
                    <td>Audio</td>
                    <td>Audio</td>
                    <td>Audio</td>
                    <td>Audio</td>
                </tr>
                <tr>
                    <td>Krar</td>
                    <td>Masengo</td>
                    <td>Sistrum</td>
                    <td>Washint</td>
                </tr>
                <tr style="height: 100px">
                    <td>IMG</td>
                    <td>IMG</td>
                    <td>IMG</td>
                    <td>IMG</td>
                </tr>
                <tr>
                    <td>Audio</td>
                    <td>Audio</td>
                    <td>Audio</td>
                    <td>Audio</td>
                </tr>

            </table>
        </div>
    </segment>

    <segment title="Calendar" anchor="Calendar">

        <p style="padding: 1%; text-align: justify">Ethiopian has its own calendar which is similar to the Coptic Egyptian calendar, it is just 276 years ahead of him. Like the Coptic Egyptian calendar, the Ethiopian calendar has twelve months of exactly 30 days and one month of five or six days depending whether it is a leap year or not.
            Compared to the Gregorian calendar, which is being used in Europe and elsewhere, the Ethiopian calendar is almost eight years behind the Gregorian calendar. The year in Ethiopian (New Year) starts on the 11th of September in the Gregorian calendar.
            For example, August 7, 2005 (Gregorian calendar) corresponds to December 1, 1997 (Ethiopian calendar)
        </p>
        <span layout="row">
       <table style="padding: 1%;">
            <tr>
                <th>Ethiopian calendar </th>
                <th>Gregorian calendar </th>
            </tr>

            <tr>
                <td>Meskerem</td>
                <td>IMG</td>
            </tr>

            <tr>
                <td>Tikemet</td>
                <td>Audio</td>
            </tr>

            <tr>
                <td>Hidar</td>
                <td>Masengo</td>
            </tr>
            <tr>
                <td>Tahesas</td>
                <td>December 10</td>
            </tr>
            <tr>
                <td>Tir</td>
                <td>Audio</td>
            </tr>
           .
           <tr>
               <td>Yekatit</td>
               <td>January 9</td>
           </tr>
           <tr>
               <td>Megabit</td>
               <td>February 8</td>
           </tr>
           <tr>
               <td>Miyaza</td>
               <td>March 10</td>
           </tr>.
           <tr>
               <td>Ginbot</td>
               <td>May 9</td>
           </tr>
           <tr>
               <td>Sene</td>
               <td>June 8</td>
           </tr>
           <tr>
               <td>Hamie</td>
               <td>July 8</td>
           </tr>
           <tr>
               <td>Nehase</td>
               <td>August 7</td>
           </tr>
           <tr>
               <td>Pagume</td>
               <td>September 6</td>
           </tr>

        </table>
        <table style="padding: 1%;">
            <tr>
                <th>Ethiopian calendar </th>
                <th>Gregorian calendar </th>
            </tr>

            <tr>
                <td>Meskerem</td>
                <td>IMG</td>
            </tr>

            <tr>
                <td>Tikemet</td>
                <td>Audio</td>
            </tr>

            <tr>
                <td>Hidar</td>
                <td>Masengo</td>
            </tr>
            <tr>
                <td>Tahesas</td>
                <td>December 10</td>
            </tr>
            <tr>
                <td>Tir</td>
                <td>Audio</td>
            </tr>
            .
            <tr>
                <td>Yekatit</td>
                <td>January 9</td>
            </tr>
            <tr>
                <td>Megabit</td>
                <td>February 8</td>
            </tr>
            <tr>
                <td>Miyaza</td>
                <td>March 10</td>
            </tr>.
            <tr>
                <td>Ginbot</td>
                <td>May 9</td>
            </tr>
            <tr>
                <td>Sene</td>
                <td>June 8</td>
            </tr>
            <tr>
                <td>Hamie</td>
                <td>July 8</td>
            </tr>
            <tr>
                <td>Nehase</td>
                <td>August 7</td>
            </tr>
            <tr>
                <td>Pagume</td>
                <td>September 6</td>
            </tr>

        </table>
            </span>
    </segment>

    <segment title="Time" anchor="Time">

        <p style="padding: 1%;text-align: justify">Ethiopian has its own calendar which is similar to the Coptic Egyptian calendar, it is just 276 years ahead of him. Like the Coptic Egyptian calendar, the Ethiopian calendar has twelve months of exactly 30 days and one month of five or six days depending whether it is a leap year or not.
            The time in Ethiopia is counted differently from many other Western African countries. They use a 12-hour clock, with one cycle of 1 to 12 and there are two cycles/ways to tell the time. The first one is from dawn to dusk (AM) and the other one is from dusk to dawn (PM). Most countries start the day at midnight while the day in Ethiopian starts with the sunrise, due to its location near the Equator it is almost always sunny. For example, 2 AM local Ethiopian time is called 8 AM in East Africa time. To convert between the Ethiopian clock and East clocks, one muss add (or subtract) 6 hours to the East African time.
        </p>
    </segment>
</module>

</div>