<module title="General">
    <segment title="Introduction" anchor="Introduction">
        <p>
            Each country has their own faux. In Ethiopia there are a few to consider. How do I greet a person, how do I behave at religious sites? To make sure that the visit does not unknowingly ends in a disaster but in a success. So here is a list of all sorts of interesting information about Ethiopia you should know.
        </p>
    </segment>


    <segment title="Greetings" anchor="Greetings">
        <div hide-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: red; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    done
                </md-icon>
            </div>
        </div>

        <numbered-card number="1" no-image="1" color="#39573380">
            Do not walk past someone you know without greeting them
        </numbered-card>

        <numbered-card number="2" no-image="1" color="#39573380">
            Don’t rush through a greeting, it is important that people greet one another even if they do not speak the same language
        </numbered-card>

        <numbered-card number="3" no-image="1" color="#39573380">
            The eldest person is greeted first out of respect. Their age is thought to indicate wisdom, knowledge and experience
        </numbered-card>

        <numbered-card number="4" no-image="1" color="#39573380">
            Greeting strangers: common to shake hands, using the right hand or both hands
        </numbered-card>

        <numbered-card number="5" no-image="1" color="#39573380">
            Greeting friends: often put one another’s cheeks against each other around three times
        </numbered-card>

        <numbered-card number="6" no-image="1" color="#39573380">
            Greeting Muslims: Some Muslims may prefer not to embrace members of the opposite gender unless they are a close family member. Therefore, men should wait until a woman extends her hand first before extending his own hand for a handshake
        </numbered-card>

        <numbered-card number="7" no-image="1" color="#39573380">
            Use people’s titles to address them until they allow you to use their first name. Common titles include ‘Ato’ (Mr), ‘Woizerit’ (Miss) and ‘Woizero’ (Mrs).
        </numbered-card>

        <numbered-card number="8" no-image="1" color="#39573380">
            If a person with higher status or respect enters the room, it is polite to stand up
        </numbered-card>
    </segment>

    <segment title="Basic Etiquette" anchor="Basic Etiquette">
        <div hide-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: red; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    done
                </md-icon>
            </div>
        </div>

        <numbered-card number="1" no-image="1" color="#39573380">
            Avoid using your left hand to passing objects, use the right hand or both hands together
        </numbered-card>

        <div hide-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: red; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    done
                </md-icon>
            </div>
        </div>

        <numbered-card number="2" no-image="1" color="#39573380">
            In some regions it is forbidden to take pictures
        </numbered-card>

        <md-card style="padding: 15px; background: #39573380; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">Outfit</h4>
        </md-card>

        <div hide-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: red; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    done
                </md-icon>
            </div>
        </div>

        <numbered-card number="1" no-image="1" color="#39573380">
            It is important that the outfit is not too revealing. Even if the heat tempts to wear mini skirt or co
        </numbered-card>

        <md-card style="padding: 15px; background: #39573380; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">Invitation and payment</h4>
        </md-card>

        <numbered-card number="1" no-image="1" color="#39573380">
            It is expected to politely decline an invitation multiple times before accepting on the second or third time. The invitation shows hospitality and the refusal shows humbleness and that one is not greedy.
        </numbered-card>

        <numbered-card number="2" no-image="1" color="#39573380">
            That means that Ethiopians may refuse your offer out of politeness. Therefore, offer it more than once to give them the opportunity to accept something on the second or third attempt.
        </numbered-card>

        <numbered-card number="3" no-image="1" color="#39573380">
            It is inappropriate to ask to split a bill. The person who invites the other person to a meal is expected to pay at the restaurant.
        </numbered-card>

        <md-card style="padding: 15px; background: #39573380; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">Time</h4>
        </md-card>

        <numbered-card number="1" no-image="1" color="#39573380">
            punctuality is not that important.
        </numbered-card>

        <numbered-card number="2" no-image="1" color="#39573380">
            the pace of life is generally slower
        </numbered-card>

        <numbered-card number="3" no-image="1" color="#39573380">
            tasks may take a while to complete in Ethiopia, so plan more time and be patient if things last longer than expected.
        </numbered-card>

        <md-card style="padding: 15px; background: #39573380; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">Religion</h4>
        </md-card>

        <numbered-card number="1" no-image="1" color="#39573380">
            Don’t disrespect religion, be it Orthodox Christianity, Protestantism or Islam
        </numbered-card>

        <numbered-card number="2" no-image="1" color="#39573380">
            Don’t ask someone about their ethnicity.
        </numbered-card>

    </segment>

    <segment title="Visiting" anchor="Visiting">

        <numbered-card number="1" no-image="1" color="#39573380">
            Be clean and respectful while visiting a person’s home.
        </numbered-card>

        <div hide-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: red; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    done
                </md-icon>
            </div>
        </div>

        <numbered-card number="2" no-image="1" color="#39573380">
            Remove your shoes before entering someone's home, any church or mosques.
        </numbered-card>

        <div hide-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: red; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    done
                </md-icon>
            </div>
        </div>

        <numbered-card number="3" no-image="1" color="#39573380">
            It is recommended to bring a gift if you visite someone’s home
        </numbered-card>

        <div hide-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: red; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    done
                </md-icon>
            </div>
        </div>

        <numbered-card number="2" no-image="1" color="#39573380">
            If you are eating, and a person sees you it is common to invite that person to eat with you.
        </numbered-card>

        <numbered-card number="3" no-image="1" color="#39573380">
            While visiting a Muslim home Men and women may socialise separate and have different discussions.
        </numbered-card>

        <numbered-card number="3" no-image="1" color="#39573380">
            When visiting plan more time, the coffee ceremony alone lasts at least an hour.
        </numbered-card>

    </segment>

    <segment title="Church" anchor="Church">

        <numbered-card number="3" no-image="1" color="#39573380">
            Ethiopian a really religiose, so respect the religion
        </numbered-card>

        <numbered-card number="2" no-image="1" color="#39573380">
            Do not forget that these are sacred places, always maintain a certain discretion
        </numbered-card>

        <numbered-card number="3" no-image="1" color="#39573380">
            The churches are not all open to visitors and if they are, they are mostly against a fee
        </numbered-card>

        <div hide-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: red; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    done
                </md-icon>
            </div>
        </div>

        <numbered-card number="3" no-image="1" color="#39573380">
            Before entering, you have to take off your shoes and keep your legs and shoulders covered
        </numbered-card>

        <div hide-xs layout="row" layout-align="space-around center" style="margin-top: 1em; margin-bottom: 1em;">

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: red; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    close
                </md-icon>
            </div>

            <div style="position: relative">
                <titled-image title="" src="http://placekitten.com/g/200/200" width="200px" height="200px"
                              radius="20px"></titled-image>

                <md-icon style="color: lawngreen; font-size: 5em; position: absolute; right: 30px; bottom: 30px;">
                    done
                </md-icon>
            </div>
        </div>

        <numbered-card number="3" no-image="1" color="#39573380">
            Men go bareheaded and women mostly with their heads covered
        </numbered-card>

        <numbered-card number="2" no-image="1" color="#39573380">
            Some churches are not accessible to women, unfortunately you have to be patient outside.
        </numbered-card>

        <numbered-card number="3" no-image="1" color="#39573380">
            In others there are inputs separated by gender
        </numbered-card>

    </segment>

    <segment title="Eating" anchor="Eating">
        <numbered-card number="3" no-image="1" color="#39573380">
            It is rude to decline an offer to eat when you visit someone’s house.
        </numbered-card>

        <numbered-card number="3" no-image="1" color="#39573380">
            It is considered rude to eat in front of people without offering them any food, especially guests.
        </numbered-card>

        <numbered-card number="3" no-image="1" color="#39573380">
            Never pass or eat food with the left hand alone.
        </numbered-card>

        <numbered-card number="3" no-image="1" color="#39573380">
            If you are unclear about whether a guest at your meal is fasting or not, provide a vegan-based option for them to eat. Fish is not prohibited.
        </numbered-card>


            More information siehe rituals


    </segment>
</module>