<style>
    module > div .spacer {
        margin: 3em;
    }

    image-card p {

    }
</style>

<module title="Food">
    <segment title="Introduction" anchor="Introduction">
        <p style="padding: 1%; padding-top: 0; text-align: justify">
            Lorem ipsum
        </p>
    </segment>

    <segment title="National dishes" anchor="National dishes">

        <slideshow heading="Test">
            <img src="http://localhost:63342/EatTheWorld/app/resources/images/ethiopia_quiz.jpg" />
            <wrap heading="A typical meal">
                <image-hotspots src="resources/images/Worldmap.jpg">
                    <simple-hotspot x="10" y="50"></simple-hotspot>
                </image-hotspots>
            </wrap>
            <wrap heading="yay 3D">
                <three-viewer model="untitled">
                </three-viewer>
            </wrap>
        </slideshow>

        <h3>Breakfast</h3>
        <div layout="row" layout-align="space-between start" layout-wrap style="margin-left: 2%; margin-right: 2%;">

            <image-card title="Firfir (ፌርፊር)">
                <p>
                    description: Torn up injera mixed with Ethiopian butter and berbere
                    <br>
                    taste: hot
                </p>
            </image-card>

            <image-card title="Chechebsa (ጨጨብሳ)" >
                <p>
                    description: Torn up pita mixed with Ethiopian butter and berbere
                    <br>
                    taste: hot
                </p>
                    <!--<eat-audio  src="resources/audios/Popcorn.wav" controls flex="66"></eat-audio>-->
            </image-card>

            <image-card title="Kinche ()">
                <p>
                    description: Cracked wheat with Ethiopian butter
                    <br>
                    taste:
                </p>
            </image-card>

            <image-card title="Beso ()">
                <p>
                    description: Barley with Ethiopian butter
                    <br>
                    taste:
                </p>
            </image-card>

            <image-card title="Genfo ()">
                <p>
                    description: Flour with Ethiopian butter and berbere
                    <br>
                    taste: hot
                </p>
            </image-card>

            <image-card title="Sega tibs ()">
                <p>
                    description: Cut meat (whole or slightly seared) with onions, garlic, rosemary, green pepperoni and Ethiopian butter which is served with injera or Ethiopian bread
                    <br>
                    taste:
                </p>
            </image-card>

            <image-card title="Kitfo ()">
                <p>
                    description: Minced beef (raw or lightly seared) with Ethiopian butter, mitmita and corrorima served with injera or kocho (thick hearty flatbread made from ensete)
                    <br>
                    taste: hot
                </p>
            </image-card>

        </div>

        <h3>Lunch and Dinner</h3>
        <div layout="row" layout-align="space-between start" layout-wrap style="margin-left: 2%; margin-right: 2%;">

            <image-card title="Key Sega Wot ()">
                <p>
                    description: Meat, onion, oil, Ethiopian butter, garlic, ginger, berbere, Ethiopian spice mekelesha served with injera
                    <br>
                    taste: hot
                </p>
            </image-card>

            <image-card title="Alecha Sega Wot ()">
                <p>
                    description: Meat, onion, oil, Ethiopian butter, garlic, ginger, kurkuma, Ethiopian spice alechakemem served with injera
                    <br>
                    taste:
                </p>
            </image-card>

            <image-card title="Key Dorowot ()">
                <p>
                    description: Chicken, onion, oil, garlic, ginger, berbere, corrorima, Ethiopian butter, boiled egg, Ethiopian spice mekelesha served with injera
                    <br>
                    taste: hot
                </p>
            </image-card>

            <image-card title="Alecha Dorowot ()">
                <p>
                    description: Chicken, onion, oil, garlic, ginger, corrorima, Ethiopian butter, boiled egg, kurkuma, Ethiopian spice alechakemem served with injera
                    <br>
                    taste:
                </p>
            </image-card>

            <image-card title="Shiro ()">
                <p>
                <h4>Key:</h4>
                description: onion, oil, garlic powder, chickpea flour served with injera<br>
                    taste: hot
                <h4>Meten:</h4>
                description: onion, oil, ginger powder, garlic powder, corrorima, Ethiopian spice mekelesha, berbere served with injera <br>
                    taste: hot
                <h4>Alecha:</h4>
                description: onion, oil, garlic powder, corrorima, Ethiopian spice alechakemem served with injera

                </p>
            </image-card>

            <image-card title=" ()">
                <p>
                    description:
                    taste:
                </p>
            </image-card>

            <image-card title=" ()">
                <p>
                    description:
                    taste:
                </p>
            </image-card>

            <image-card title=" ()">
                <p>
                    description:
                    taste:
                </p>
            </image-card>

            <image-card title=" ()">
                <p>
                    description:
                    taste:
                </p>
            </image-card>

            <image-card title=" ()">
                <p>
                    description:
                    taste:
                </p>
            </image-card>

        </div>

    </segment>

    <segment title="National drinks" anchor="National drinks">

        <div layout="row" layout-align="space-between center" layout-wrap style="margin-left: 2%; margin-right: 2%;">
            <image-card title="Sake (酒 sake)">
                Sake is a japanese rice wine. It is an alcoholic beverage produced by fermenting rice. You should not pour
                your own glass of sake, as it is considered to be rude. You usually pour your neighbours glass and they
                return the favour.
            </image-card>
            <image-card title="Water (お水 omizu)">
                When you enter a restaurant, you do not have to necessarily order something to drink, because free glasses
                are normally placed on the table before you even order.<br>
                When you order water ('omizu') in a restaurant, it will automatically be cold water. If you do not want
                your water to be cold, you will need to order 'oyu', which means warm water.
            </image-card>
            <image-card title="Grean Tea (お茶 ocha)">
                Green Tea is a varient of making tea, where non-fermented tea leaves are being used. In every restaurant,
                you will get a free cup of green tea without even ordering it.<br>
                99.9% of tea produced in Japan is green tea.
            </image-card>
            <image-card title="Matcha (抹茶 matcha)">
                Matcha is a varient of green tea, where the leaves are grinded and made into powder. You drink the tea together
                with the powder. Traditionally, a warm matcha tea is drunk during tea ceremony.<br>
                Matcha is often used as a flavour for sweets or cookies.
            </image-card>
            <span class="hideMeLater" style="display:none">
                Sake (<i>酒 sake</i>):<br>
                Sake is a japanese rice wine. It is an alcoholic beverage produced by fermenting rice. You should not pour
                your own glass of sake, as it is considered to be rude. You usually pour your neighbours glass and they
                return the favour.<br>
                Water (<i>お水 omizu</i>):<br>
                When you enter a restaurant, you do not have to necessarily order something to drink, because free glasses
                are normally placed on the table before you even order.<br>
                When you order water ('omizu') in a restaurant, it will automatically be cold water. If you do not want
                your water to be cold, you will need to order 'oyu', which means warm water.<br>
                Green Tea (<i>お茶 ocha</i>):<br>
                Green Tea is a varient of making tea, where non-fermented tea leaves are being used. In every restaurant,
                you will get a free cup of green tea without even ordering it.<br>
                99.9% of tea produced in Japan is green tea.<br>
                Matcha (<i>抹茶 matcha</i>):<br>
                Matcha is a varient of green tea, where the leaves are grinded and made into powder. You drink the tea together
                with the powder. Traditionally, a warm matcha tea is drunk during tea ceremony.<br>
                Matcha is often used as a flavour for sweets or cookies.<br>
            </span>
        </div>

        <!--infotext>Text</infotext-->

    </segment>

    <segment title="Snacks & side dishes" anchor="Snacks & side dishes">

        <div layout="row" layout-align="space-between center" layout-wrap style="margin-left: 2%; margin-right: 2%;">
            <image-card title="Senbei (煎餅 senbei)">
                Senbei are a snack made out of rice which are hard crackers that came in various shapes and sizes. They
                are mostly salty, like the ones wrapped in nori, but there is also sweet variants, which are often eaten
                together with green tea.
            </image-card>
            <image-card title="Mochi (餅 mochi)">

            </image-card>
            <image-card title="Raw Egg (生卵 nama tamago)">

            </image-card>
            <image-card title="Fruit (果物 kudamono)">

            </image-card>
            <image-card title="Red Bean Paste (餡こ anko)">

            </image-card>
            <image-card title="Edamame (枝豆 edamame)">

            </image-card>
            <image-card title="Gyoza (ギョーザ gyoza)">

            </image-card>
            <span class="hideMeLater">
                Senbei (<i>煎餅 senbei</i>):<br>
                Senbei are a snack made out of rice which are hard crackers that came in various shapes and sizes. They
                are mostly salty, like the ones wrapped in nori, but there is also sweet variants, which are often eaten
                together with green tea.
                Mochi (<i>餅 mochi</i>):<br>

                https://youtu.be/tmSrULDVRPc<br>
                Raw Eggs (<i>生卵 nama tamago</i>):<br>

                Fruit (<i>果物 kudamono</i>):<br>

                Red Bean Paste (<i>餡こ anko</i>):<br>

                Edamame (<i>枝豆 edamame</i>):<br>

                Gyoza (<i>ギョーザ gyoza</i>):<br>

            </span>
        </div>

    </segment>

    <segment title="Ingredients & Spices" anchor="Ingredients & Spices">

        <div style="margin: 1em"></div>

        <infotext>Text</infotext>

        <div style="margin: 1em"></div>

        <infotext>Text</infotext>

        <div style="margin: 1em"></div>

        <div layout="row" layout-align="start start" layout-wrap style="margin-left: 2%; margin-right: 2%;">
            <hover-image name="Rice" desc="Description"></hover-image>
            <hover-image name="Vegetables" desc="Description"></hover-image>
            <hover-image name="Fish" desc="Description"></hover-image>
            <hover-image name="Wasabi" desc="Description"></hover-image>
            <hover-image name="Tofu" desc="Description"></hover-image>
            <hover-image name="Soy Sauce" desc="Description"></hover-image>
            <hover-image name="Nori" desc="Description"></hover-image>
        </div>

    </segment>
</module>