<style>
    ethiopia-language segment div, segment p {
        font-size: 15px;
        line-height: 180%;
    }

    ethiopia-language ethiopia-audio-card {
        width: 50%;
    }

    @media screen and (max-width: 800px) {
        ethiopia-language ethiopia-audio-card {
            width: 100%;
        }

        ethiopia-language table {
            width: 100%;
            font-size: 3vmin;
        }
    }

    ethiopia-language img {
        width: 100%;
    }

    ethiopia-language table {
        width: 100%;
    }
</style>

<module title="Language: Amharic">

    <segment title="General information about Amharic" anchor="General information about Amharic">
        <div>
            <h2>Alphabet and pronunciations</h2>
            <p>
                The national language of Ethiopia is Amharic which is the second most spoken Semetic language
                worldwide and has its origin in the Amhara region. It is written with a version of Ge`ze script
                known as Fidel, which is a syllabary. There are 33 basic Fidels which are being altered in various
                ways by attaching a vowel.
            </p>

            <table>
                <tr>
                    <th>Vowel</th>
                    <td>ä</td>
                    <td>u</td>
                    <td>i</td>
                    <td>a</td>
                    <td>e</td>
                    <td>ï</td>
                    <td>o</td>
                </tr>
                <tr>
                    <th>Sounds like</th>
                    <td>again</td>
                    <td>moon</td>
                    <td>feet</td>
                    <td>father</td>
                    <td>way</td>
                    <td>pin</td>
                    <td>War</td>
                </tr>
            </table>

            <p>
                The Amharic syllabary is usually presented as a grid with the vowels in the horizontal axis and
                the consonants in the vertical axis. Below is the syllabary in the most common ha-hu order:
            </p>
            <img src="http://localhost:63342/EatTheWorld/app/resources/images/ethiopia_amharic_alphabet.png"/>

        </div>
    </segment>

    <segment title="Play" anchor="Language">
        <div layout="row" layout-align="space-around" layout-wrap="" class="play">
            <ethiopia-audio-card
                    original="Coffee"
                    translation="buna"
                    native="ቡና"
                    audio="resources/audios/Coffee.wav"
                    audio-type="audio/wav" />
            <ethiopia-audio-card
                    original="Dinner"
                    translation="irat"
                    native="እራት"
                    audio="resources/audios/Abendessen.wav"
                    audio-type="audio/wav" />
            <ethiopia-audio-card
                    original="Bread"
                    translation="dabo"
                    native="ዳቦ"
                    audio="resources/audios/Bread.wav"
                    audio-type="audio/wav" />
            <ethiopia-audio-card
                    original="Breakfast"
                    translation="chawu"
                    native="ቻዉ"
                    audio="resources/audios/Breakfast.wav"
                    audio-type="audio/wav" />
            <ethiopia-audio-card
                    original="Cheers"
                    translation="selam"
                    native="ሰላም"
                    audio="resources/audios/Cheers.wav"
                    audio-type="audio/wav" />
            <ethiopia-audio-card
                    original="Menu"
                    translation="misa"
                    native="ምሳ"
                    audio="resources/audios/Menu.wav"
                    audio-type="audio/wav" />
            <ethiopia-audio-card
                    original="no"
                    translation="fandisha"
                    native="ፋንድሻ"
                    audio="resources/audios/No.wav"
                    audio-type="audio/wav" />
        </div>
    </segment>

</module>
