<country-overview layout-fill class="ethiopia_wallpaper">
    <module-preview
            title="General"
            description="gfherogheorigheoighokw"
            image="resources/images/ethiopia_general.jpg"
            state="ethiopia-general">
    </module-preview>
    <module-preview
            title="Food"
            description="gfherogheorigheoighokw"
            image="resources/images/ethiopia_food.jpg"
            state="ethiopia-food">
    </module-preview>
    <module-preview
            title="Language"
            description="gfherogheorigheoighokw"
            image="resources/images/ethiopia_language_2.jpg"
            state="ethiopia-language">
    </module-preview>
    <module-preview
            title="Rituals"
            description="Common habits and rituals before, during and after eating."
            image="resources/images/ethiopia_rituals_2.jpg"
            state="ethiopia-general">
    </module-preview>
    <module-preview
            title="No-Go's"
            description="gfherogheorigheoighokw"
            image="resources/images/ethiopia_nogos_2.jpg"
            state="ethiopia-nogosanddoes">
    </module-preview>
    <module-preview
            title="Quiz"
            description="Test your knowledge too see how much you have learned."
            image="resources/images/ethiopia_quiz_2.jpg"
            state="ethiopia-quiz">
    </module-preview>
</country-overview>