<style>
    module > p {
        text-align: justify
    }
</style>

<module title="Rituals">
    <segment title="Introduction" anchor="Introduction">
        <p>
            Just like other countries, there are many different rituals in Ethiopia. The chapter below describes how a restaurant visit can take place, from the greeting to the adoption.
        </p>
    </segment>

    <segment title="Procedure in a restaurant" anchor="Procedure in a restaurant">
        <md-card style="padding: 15px; background: #39573380; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">Before eating</h4>
        </md-card>
        <div style="margin-left: 2%; margin-right: 2%;">
            <ol>
                <li>The person who invites others to a meal or organises it is expected to pay at the restaurant. If it is not clear who invited one another, there may be bickering as each person tries to pay out of politeness</li>
                <li>Greeting (siehe Do and don’t for details)
                    <ul>
                        <li>It is common to shake hands to greet strangers, using the right hand or both hands. The eldest person is greeted first. </li>
                        <li>Close friends often put one another’s cheeks against each other around three times.</li>
                    </ul>
                </li>
                <li>In a traditional restaurant, you sit on a kucka and the table is a mesob and the host is sitting down at the end after the guest have taken a seat</li>
                <li>Then the menu card is brought</li>
                <li>After the order there is a waiting period of 15-45 minutes depending on the menu one has chosen</li>
                <li>While waiting you wash your hands</li>
                <ul>
                    <li>Either a person comes to wash your hand or there is a washroom</li>
                </ul>
                <li>In a traditional restaurant the dish is mainly served on a large plate it is thought to be for 2-8 people, which will be placed on top of the mesob.
                    <ul>
                        <li>If you decide not to eat together on one plate, you still wait for everyone until they have their order. The food will be served in order of their age or status with the oldest person first.</li>
                    </ul>
                </li>
                <li>After everyone has their food, either the eldest person, if there is no priest, may give a small pray, to thank good for the food.
                    <ul>
                        <li>The native people often form a cross above the food and say something like
                            “thanks for this meal”, if there was no prey by a person.
                        </li>
                    </ul>
                </li>
            </ol>

            <!--Bild vom Restaurant kucka und mesobe-->

            <img src="resources/images/ethiopianrestaurant.jpg" width="49%">
            <img src="resources/images/ethiopianhandwash.jpg" width="49%">

        </div>

        <md-card style="padding: 15px; background: #39573380; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">While eating</h4>
        </md-card>
        <div layout="row" layout-align="space-between center" layout-wrap style="margin-left: 2%; margin-right: 2%;">
            <ol>
                <li>you eat with the right hand, so you don’t get into a conflict with the person eating next to you, if you eat on a big plate.</li>
                <li>It is allowed to smack and slurp while eating, but is is not allowed to turnip rape, that is considered very rude</li>
                <li>A person may hand-fed some parts of meals to another person. This process is called ‘Gursha’ and is done out of respect, it is polite to accept the offer.</li>
            </ol>
            <img src="resources/images/ethiopianfood.jpg" width="100%">
        </div>

        <md-card style="padding: 15px; background: #39573380; font-weight: bold">
            <h4 class="md-display-0" style="margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">After eating</h4>
        </md-card>
        <div layout="row" layout-align="space-between center" layout-wrap style="margin-left: 2%; margin-right: 2%;">
            <ol>
                <li>In some parts of Ethiopia, it is polite to leave a little bit of food on your plate to indicate that the food was good.</li>
                <li>wash your hands
                    <ul>
                        <li>Either a person comes to wash your hand or there is a washroom</li>
                    </ul>
                </li>
                <li>Pay: If a person offers to pay the bill it is expected too politely decline the gesture initially before accepting on the second or third offer. By refusing to accept the person shows humbleness and that one is not greedy.</li>
                <li>It is common to leave a tip</li>
                <li>don’t rush after a meal, Stay for coffee</li>
                <li>Saying goodbye, the same way you greet a person (siehe Do and don’t for details)</li>
            </ol>
        </div>
    </segment>

    <segment title="Coffee Ceremony" anchor="Coffee Ceremony">
        <p>
            Ethiopian is the birthplace for coffee and the coffee ceremony is a very important cultural ritual for making and drinking coffee. The coffee ceremony is held up to three times a day and it can take at least an hour, its purpose is to get together with relatives, neighbours or other people.
        </p>
        <div>
            <numbered-card number="1" no-image="1" color="#39573380">
                <p>
                    You are likely to be seated on the floor, sitting on pillows or another soft surface, with traditional incense burning in the background.
                </p>
            </numbered-card>
            <numbered-card number="2" no-image="1" color="#39573380">
                prepare the room: the women performing the ceremony spreads grasses and flowered across the floor
            </numbered-card>
            <numbered-card number="3" no-image="1" color="#39573380">
                Then the Jebena (coffeepot) is filled with water
            </numbered-card>
            <numbered-card number="4" no-image="1" color="#39573380">
                Jebena is placed over hot coals
            </numbered-card>
            <numbered-card number="5" no-image="1" color="#39573380">
                First the raw coffee beans are washed and roasted in a pan
            </numbered-card>
            <numbered-card number="6" no-image="1" color="#39573380">
                Pan is placed over hot coals
            </numbered-card>
            <numbered-card number="7" no-image="1" color="#39573380">
                The women performing the ceremony may go around with the roasted coffee beans to spread the coffee smell. If the women performing the ceremony is in front of you, you are supposed to wave the smoke above the pan 3 times to yourself.
            </numbered-card>
            <numbered-card number="8" no-image="1" color="#39573380">
                Then the beans are being crushed with a mukecha (is a bowl with a cylinder)
            </numbered-card>
            <numbered-card number="9" no-image="1" color="#39573380">
                The ground coffee is being added to the Jebena with the hot water
            </numbered-card>
            <numbered-card number="10" no-image="1" color="#39573380">
                The coffee is being filled in very small glass cups
            </numbered-card>
            <numbered-card number="11" no-image="1" color="#39573380">
                The guest of honour or eldest person is served first
            </numbered-card>
            <numbered-card number="12" no-image="1" color="#39573380">
                Guest may add sugar if they like, mild is not typically offered
            </numbered-card>
            <numbered-card number="13" no-image="1" color="#39573380">
                After the first round there are two more servings, it is inappropriate to leave after the first round of coffee
            </numbered-card>
            <numbered-card number="14" no-image="1" color="#39573380">
                Each serving is progressively weaker than the first, because each time the same Jevena is refilled. Each cup is said to transform the spirit, and the third serving is considered to be a blessing to those who drink it.
                <p>
                    The first round is called ‘abol’ in Tigrinya, the second is called ‘tonna’ and the third is called ‘baraka’.
                </p>
            </numbered-card>
        </div>

        <!--Bild vom setup -->
        <img src="resources/images/ethiopiancoffee.jpg" width="100%">
    </segment>
</module>