<style>

    .modules {
        margin: auto;
    }

    .gt-xs .modules {
        height: 600px;
        width: 600px;
        position: relative;
    }

    .xs .modules, .xs module-preview {
        animation: unset !important;
        position: static !important;
    }

</style>
<div layout-fill class="ethiopia_wallpaper" style="padding: 10px;">
    <section class="modules" circle-rotate circle-rotate-zoom="2" circle-rotate-speed="32">
        <module-preview
                title="General"
                image="//img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2017/07/18/Foreign/Images/_MG_0001.JPG?uuid=ZGYQ2GcQEeeUq1sfD_RZ3w"
                description="gfherogheorigheoighokw"
                state="ethiopia-general">
        </module-preview>
        <module-preview
                title="2"
                image="//img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2017/07/18/Foreign/Images/_MG_0001.JPG?uuid=ZGYQ2GcQEeeUq1sfD_RZ3w"
                description="gfherogheorigheoighokw"
                state="ethiopia-general">
        </module-preview>
        <module-preview
                title="3"
                image="//img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2017/07/18/Foreign/Images/_MG_0001.JPG?uuid=ZGYQ2GcQEeeUq1sfD_RZ3w"
                description="gfherogheorigheoighokw"
                state="ethiopia-general">
        </module-preview>
        <module-preview
                title="4"
                image="//img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2017/07/18/Foreign/Images/_MG_0001.JPG?uuid=ZGYQ2GcQEeeUq1sfD_RZ3w"
                description="gfherogheorigheoighokw"
                state="ethiopia-general">
        </module-preview>
    </section>
</div>
