<style>
    segment div, segment p {
        font-size: 15px;
        line-height: 180%;
    }

    .language {
        grid-area: column1row1;
    }

    .languagevalue {
        grid-area: column1row2;
    }

    .capital {
        grid-area: column2row1;
    }

    .capitalvalue {
        grid-area: column2row2;
    }

    .religion {
        grid-area: column3row1;
    }

    .religionvalue {
        grid-area: column3row2;
    }

    .goverment {
        grid-area: column4row1;
    }

    .govermentvalue {
        grid-area: column4row2;
    }

    .currency {
        grid-area: column5row1;
    }

    .currencyvalue {
        grid-area: column5row2;
    }

    .timezone {
        grid-area: column6row1;
    }

    .timezonevalue {
        grid-area: column6row2;
    }

    .callingcode {
        grid-area: column7row1;
    }

    .callingcodevalue {
        grid-area: column7row2;
    }

    .population {
        grid-area: column8row1;
    }

    .populationvalue {
        grid-area: column8row2;
    }

    .area {
        grid-area: column9row1;
    }

    .areavalue {
        grid-area: column9row2;
    }

    .populationdensity {
        grid-area: column10row1;
    }

    .populationdensityvalue {
        grid-area: column10row2;
    }

    .bilder1 {
        grid-area: column1-5row1;
    }

    .bilder2 {
        grid-area: column5-10row1;
    }

    .grid-container {
        /*height: 100vh;*/
        display: grid;
        grid-template-areas: 'column1-5row1 column1-5row1 column1row1 column1row2' 'column1-5row1 column1-5row1 column2row1 column2row2' 'column1-5row1 column1-5row1 column3row1 column3row2' 'column1-5row1 column1-5row1 column4row1 column4row2' 'column1-5row1 column1-5row1 column5row1 column5row2' 'column5-10row1 column5-10row1 column6row1 column6row2' 'column5-10row1 column5-10row1 column7row1 column7row2' 'column5-10row1 column5-10row1 column8row1 column8row2' 'column5-10row1 column5-10row1 column9row1 column9row2' 'column5-10row1 column5-10row1 column10row1 column10row2';
        grid-column-gap: 1%;
        /*background-color: rgba(63,81,181);*/
        padding: 1%;
        margin: 0;
    }

    .grid-container > p {
        background-color: rgba(255, 255, 255);
        /*text-align: center;*/
        /*padding: 2% 0;*/
        font-size: 13px;
    }

    .bilder1 {
        padding-bottom: 1%;
    }

    .bilder2 {
        padding-top: 1%;
    }

    @media screen and (max-width: 900px) {
        .grid-container {
            /*height: 100vh;*/
            display: grid;
            grid-template-areas: 'column1-5row1 column5-10row1' 'column1row1 column1row2' 'column2row1 column2row2' 'column3row1 column3row2' 'column4row1 column4row2' 'column5row1 column5row2' 'column6row1 column6row2' 'column7row1 column7row2' 'column8row1 column8row2' 'column9row1 column9row2' 'column10row1 column10row2';
            grid-column-gap: 1%;
            /*background-color: rgba(63,81,181);*/
            padding: 1%;
            margin: 0;
        }

        .bilder1 {
            padding-bottom: 0;
        }

        .bilder2 {
            padding-top: 0;
        }

    }

    /*Instrumente*/
    .begena {
        grid-area: Icolumn1row1;
    }

    .kakaki {
        grid-area: Icolumn1row2;
    }

    .kebero {
        grid-area: Icolumn2row1;
    }

    .kissar {
        grid-area: Icolumn2row2;
    }

    .krar {
        grid-area: Icolumn3row1;
    }

    .masengo {
        grid-area: Icolumn3row2;
    }

    .sistrum {
        grid-area: Icolumn4row1;
    }

    .washint {
        grid-area: Icolumn4row2;
    }

    .Igrid-container {
        /*height: 100vh;*/
        display: grid;
        grid-template-areas: 'Icolumn1row1 Icolumn1row2' 'Icolumn2row1 Icolumn2row2' 'Icolumn3row1 Icolumn3row2' 'Icolumn4row1 Icolumn4row2';
        grid-column-gap: 1%;
        /*background-color: rgba(63,81,181);*/
        padding: 1%;
        margin: 0;
    }

    .Igrid-container > div > img {
        width: 70%;
        padding-left: 5%;
    }

    @media screen and (max-width: 600px) {

        table {
            width: 100%;
            font-size: 2.8vmin;
        }
    }
</style>

<module title="General">

    <segment title="Introduction" anchor="Introduction">
        <div style="padding: 1%;">

            <div layout-fill class="grid-container">

                <!--Bilder-->

                <img src="resources/images/ethipiandistrict.svg" width="100%" class="bilder1">
                <img src="resources/images/ethioworld.jpg" width="100%" class="bilder2">

                <!--linke Spalte-->

                <p class="language">Official languages </p>
                <p class="capital">Capital</p>
                <p class="religion">Religion</p>
                <p class="goverment">Government</p>
                <p class="currency">Currency</p>
                <p class="timezone">Time zone</p>
                <p class="callingcode">Calling code</p>
                <p class="population">Population</p>
                <p class="area">Area</p>
                <p class="populationdensity">Population density</p>

                <!--rechte Spalte-->

                <p class="languagevalue">Amharic</p>
                <p class="capitalvalue">Addis Abeba</p>
                <p class="religionvalue">Orthodox Christian (43.5%),
                    Muslim (33.9%)-(2018)</p>
                <p class="govermentvalue">Federal dominant-party parliamentary republic</p>
                <p class="currencyvalue">Birr</p>
                <p class="timezonevalue">UTC+3</p>
                <p class="callingcodevalue">+251</p>
                <p class="populationvalue">102,403,196 (2016)</p>
                <p class="areavalue">1,104,300 km2</p>
                <p class="populationdensityvalue">92/km2</p>

            </div>
        </div>
    </segment>

    <segment title="History" anchor="History">
        <p flex style="padding: 1%;padding-top: 0%; text-align: justify">
            Ethiopian is a landlocked country in the northeast of Africa and its largest city is its capital city
            Addis Abeba (=New Flower).
            It is Africa´s oldest independent country and it is the second largest in terms of population. Apart
            from a five-year occupation by Italy Ethiopian has never been colonised. It retained its sovereignty
            from a long-term colonialism by a European colonial power. Ethiopian has served as a symbol of African
            independence and was a founder member of the United Nations and the African base for many international
            organisations. Many newly-independent nations on the continent subsequently adopted its flag colours.
            In addition to that some of the oldest skeletal have been found in Ethiopia. The archaeologist
            discovered a 3.5-million-year-old fossil skeletons in 1974, which they named Lucy (=Australopithecus).
            The Anthropologists believe that it is the region from which modern humans first set out for the Middle
            east and places beyond.
        </p>

    </segment>

    <segment title="Culture" anchor="Culture">
        <div style="padding: 1%;padding-top: 0%; text-align: justify">
            <h3>Costume</h3>
            <div layout-gt-xs="row" layout-xs="column" layout-align="space-around center" style="padding: 5px;">
                <div flex="40" style="overflow: hidden;" layout="row" layout-align="center center">
                    <img src="resources/images/ethiocloth.jpg" width="50%" height="70%" flex>
                </div>
                <div flex="60" layout="row" layout-align="start center" style="text-align: justify; padding-left: 2%">
                    The Ethiopian traditional costume is made of woven cotton. Ethiopian men and women wear this
                    traditional costume called gabbi or Netella. Women often wear dresses (Kemis) and netella with
                    borders of coloured embroidered woven crosses, but other designs are also used.
                    <br>
                    Other ethnic groups and tribes in the south and west of the country wear different costumes that
                    reflect their own traditions. Some tribes partially cover their body with leather and
                    decorating their faces and bodies with distinctive images
                </div>
            </div>
            <p style="padding: 1%;"></p>
            <h3 style="display: none">Instruments</h3>
            <div layout-fill class="Igrid-container" style="display: none">
                <div layout="column" class="begena">
                    <p>Begena</p>
                    <img src="resources/images/A9.jpg" width="50px">
                    <audio controls>
                        <source src="resources/audios/Coffee.wav" type="audio/wav">
                    </audio>
                </div>

                <div layout="column" class="kakaki">
                    <p>Kakaki</p>
                    <img src="resources/images/A9.jpg" width="50px">
                    <audio controls>
                        <source src="resources/audios/Coffee.wav" type="audio/wav">
                    </audio>
                </div>

                <div layout="column" class="kebero">
                    <p>Kebero</p>
                    <img src="resources/images/A9.jpg" width="50px">
                    <audio controls>
                        <source src="resources/audios/Coffee.wav" type="audio/wav">
                    </audio>
                </div>

                <div layout="column" class="kissar">
                    <p>Kissar</p>
                    <img src="resources/images/A9.jpg" width="50px">
                    <audio controls>
                        <source src="resources/audios/Coffee.wav" type="audio/wav">
                    </audio>
                </div>

                <div layout="column" class="krar">
                    <p>Krar</p>
                    <img src="resources/images/A9.jpg" width="50px">
                    <audio controls>
                        <source src="resources/audios/Coffee.wav" type="audio/wav">
                    </audio>
                </div>

                <div layout="column" class="masengo">
                    <p>Masengo</p>
                    <img src="resources/images/A9.jpg" width="50px">
                    <audio controls>
                        <source src="resources/audios/Coffee.wav" type="audio/wav">
                    </audio>
                </div>

                <div layout="column" class="sistrum">
                    <p>Sistrum</p>
                    <img src="resources/images/A9.jpg" width="50px">
                    <audio controls>
                        <source src="resources/audios/Coffee.wav" type="audio/wav">
                    </audio>
                </div>

                <div layout="column" class="washint">
                    <p>Washint</p>
                    <img src="resources/images/A9.jpg" width="50px">
                    <audio controls>
                        <source src="resources/audios/Coffee.wav" type="audio/wav">
                    </audio>
                </div>
            </div>
        </div>
    </segment>

    <segment title="Calendar" anchor="Calendar">

        <p style="padding: 1%;padding-top: 0%; text-align: justify">Ethiopian has its own calendar which is similar to
            the Coptic
            Egyptian calendar, it is just 276 years ahead of him. Like the Coptic Egyptian calendar, the Ethiopian
            calendar has twelve months of exactly 30 days and one month of five or six days depending whether it is
            a leap year or not.
            Compared to the Gregorian calendar, which is being used in Europe and elsewhere, the Ethiopian calendar
            is almost eight years behind the Gregorian calendar. The year in Ethiopian (New Year) starts on the 11th
            of September in the Gregorian calendar.
            For example, August 7, 2005 (Gregorian calendar) corresponds to December 1, 1997 (Ethiopian calendar)
        </p>

        <md-card style="padding: 15px; background: #39573380; font-weight: bold" layout="row">
            <h2 class="md-display-0" style="width: 40%; margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">&nbsp;&nbsp;Months - starts</h2>
            <h2 class="md-display-0" style="width: 50%; margin-top: 0; margin-bottom: 0; font-size:20px; font-weight: bold">&nbsp;&nbsp; Major public hollidays</h2>
        </md-card>

        <span layout="row">
       <table style="width: 40%;padding: 1%;  text-align: left">
            <tr>
                <th>Ethiopian calendar </th>
                <th>Gregorian calendar </th>
            </tr>

            <tr>
                <td>Meskerem</td>
                <td>September 11</td>
            </tr>

            <tr>
                <td>Tikemet</td>
                <td>October 11</td>
            </tr>

            <tr>
                <td>Hidar</td>
                <td>November 10</td>
            </tr>

            <tr>
                <td>Tahesas</td>
                <td>December 10</td>
            </tr>

            <tr>
                <td>Tir</td>
                <td>January 9</td>
            </tr>

           <tr>
               <td>Yekatit</td>
               <td>Februar 8</td>
           </tr>

           <tr>
               <td>Megabit</td>
               <td>March 10</td>
           </tr>

           <tr>
               <td>Miyaza</td>
               <td>April 9</td>
           </tr>.
           <tr>
               <td>Ginbot</td>
               <td>May 9</td>
           </tr>
           <tr>
               <td>Sene</td>
               <td>June 8</td>
           </tr>
           <tr>
               <td>Hamie</td>
               <td>July 8</td>
           </tr>
           <tr>
               <td>Nehase</td>
               <td>August 7</td>
           </tr>
           <tr>
               <td>Pagume</td>
               <td>September 6</td>
           </tr>

        </table>



        <table style="width: 50%; padding: 1%; text-align: left">
            <tr>
                <th>Ethiopian calendar </th>
                <th>Gregorian calendar </th>
            </tr>

            <tr>
                <td>Ethiopian Christmas (=Genna) </td>
                <td>January 7</td>
            </tr>

            <tr>
                <td>Ethiopian Epiphany (=Timket)</td>
                <td>January 19</td>
            </tr>

            <tr>
                <td>Victtory of Adwa Day</td>
                <td>March 2</td>
            </tr>
            <tr>
                <td>Ethiopian Good Friday (=Siklet)</td>
                <td>~April 6</td>
            </tr>
            <tr>
                <td>Ethiopian Easter (=Fasika)</td>
                <td>~April 27</td>
            </tr>

            <tr>
                <td>Ethiopian New Year (=Enqutatash)</td>
                <td>September 11</td>
            </tr>

        </table>
            </span>
    </segment>

    <segment title="Time" anchor="Time">

        <p style="padding: 1%; padding-top: 0%; text-align: justify">

            The time in Ethiopia is counted differently from many other Western African countries. They use a
            12-hour clock, with one cycle of 1 to 12 and there are two cycles/ways to tell the time. The first one
            is from dawn to dusk (AM) and the other one is from dusk to dawn (PM). Most countries start the day at
            midnight while the day in Ethiopian starts with the sunrise, due to its location near the Equator it is
            almost always sunny. For example, 2 AM local Ethiopian time is called 8 AM in East Africa time. To
            convert between the Ethiopian clock and East clocks, one muss add (or subtract) 6 hours to the East
            African time.
        </p>
    </segment>
</module>
