<style>
    country-overview .modules {
        margin: auto;
    }

    .gt-xs country-overview .modules {
        height: 600px;
        width: 600px;
        position: relative;
    }

    .xs country-overview module-preview {
        animation-name: unset !important;
        position: static !important;
        transform: unset !important;
    }
    .xs country-overview .modules {
        animation-name: unset !important;
        position: static !important;
    }
    .country-overview {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .xs .country-overview > section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

</style>
<div layout-fill class="country-overview">
    <section class="modules"
            circle-rotate
            circle-rotate-zoom="2"
            circle-rotate-speed="32"
            circle-rotate-radius="220"
            ng-transclude="">
    </section>
</div>