<style>
    country-overview .modules {
        margin: auto;
    }
    .xs country-overview module-preview {
        animation-name: unset !important;
        position: static !important;
        transform: unset !important;
    }
    .xs country-overview .modules {
        animation-name: unset !important;
        position: static !important;
    }
    .country-overview {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .xs .country-overview > section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-height: 700px) {
        country-overview module-preview {
            animation-name: unset !important;
            position: static !important;
            transform: unset !important;
        }
        country-overview .modules {
            animation-name: unset !important;
            position: static !important;
        }
        .country-overview > section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        @media screen and (min-width: 700px) and (min-height: 510px) {
            country-overview .modules {
                width: 800px;
            }
        }
    }
</style>
<div layout-fill class="country-overview">
    <section class="modules"
            circle-rotate
            circle-rotate-zoom="2"
            circle-rotate-speed="32"
            circle-rotate-radius="220"
            ng-transclude="">
    </section>
</div>