<style>
    country-overview .modules {
        margin: auto;
    }

    .xs country-overview module-preview {
        animation-name: unset !important;
        position: static !important;
        transform: unset !important;
    }

    .xs country-overview .modules {
        animation-name: unset !important;
        position: static !important;
    }

    .country-overview {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .xs .country-overview > section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-height: 720px) {
        country-overview module-preview {
            animation-name: unset !important;
            position: static !important;
            transform: unset !important;
        }

        country-overview .modules {
            animation-name: unset !important;
            position: static !important;
        }

        .country-overview > section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        @media screen and (min-width: 700px) and (min-height: 510px) {
            country-overview .modules {
                width: 800px;
            }
        }
    }
</style>
<div layout-fill class="country-overview unselectable" style="position:relative;">
    <md-button class="md-raised"
               style="position:absolute; left: 7%; top: 4.9%; border-radius: 1em; background-color: rgba(0,0,0,.6); color: white; width: 125px;"
               ui-sref="home" layout="row">
        <md-icon style="color: white; margin-left: 10px">home</md-icon>
        <p style="padding: 10px; margin: 0; font-size: large; font-weight: bold;">
            Home
        </p>
    </md-button>

    <section class="modules"
             circle-rotate
             circle-rotate-zoom="1.5"
             circle-rotate-speed="48"
             circle-rotate-radius="220"
             ng-transclude="">
    </section>
</div>