<style>
    module .segment-dot:not(:last-child) {
        margin-bottom: 25px;
    }

    module .module-navigation {
        transition: margin-right 1s;
        margin-right: -0px;
    }

    .xs module .module-navigation, .sm .module-navigation {
        margin-right: -300px;
    }

    .returnToOverview {
        font-weight: bold;
        font-size: large;
    }

    /*Scrollbar*/

    ::-webkit-scrollbar {
        width: 15px;
    }
</style>

<div id="accent-color" md-colors="{background: 'accent'}" style="display: none"></div>
<div id="primary-color" md-colors="{background: 'primary'}" style="display: none"></div>

<div layout-fill layout="row" flex style="position: relative; max-height: 100%">
    <md-content flex id="scroll-container"
                style="background: transparent; overflow-x: hidden; overflow-y: scroll; padding: 20px;">
        <div class="md-padding limit-width">
            <!--md-card style="margin-bottom: 30px">
                <h2 class="md-display-3" style="text-align: center; margin: .3em">{{$ctrl.title}}</h2>
            </md-card-->

            <div style="background: rgba(40, 40, 40, .8); margin-top: 0; margin-bottom: 25px"
                 layout="row" layout-align="space-between center">
                <md-button hide-xs style="color: white;" class="returnToOverview" ui-sref="{{$ctrl.getState()}}">◀
                    Overview
                </md-button>
                <md-button hide-gt-xs style="color: white;" class="returnToOverview md-icon-button"
                           ui-sref="{{$ctrl.getState()}}">◀
                </md-button>

                <h2 class="md-display-3"
                    style="color: white; text-align: center; font-weight: bold; padding: 15px 0 10px 0; text-shadow: 1px 1px #000; margin: 0; ">
                    {{$ctrl.title}}
                </h2>

                <md-button hide-xs disabled="true" style="color: transparent" class="returnToOverview">◀ Overview
                </md-button>
                <md-button hide-gt-xs disabled="true" style="color: transparent"
                           class="returnToOverview md-icon-button">◀
                </md-button>
            </div>


            <section ng-transclude="">
            </section>
        </div>
    </md-content>
    <aside class="module-navigation" md-colors="{background: 'accent'}" style="width: 300px; max-height: 100%">
        <div style="position: relative; z-index: 1; margin-top: 15%; margin-left: 15%;">
            <div style="height: 100%; position: absolute; top: 0; left: 0; padding: 15px 0; width: 30px"
                 layout="column">
                <div flex md-colors="{background: 'primary'}"
                     style="border-radius: 5px; margin: auto; width: 3px;"></div>
            </div>
            <div style="z-index: 2; position: relative;" class="segment-dot" ng-repeat="e in $ctrl.segments">
                <div layout="row" layout-align="start center">
                    <div class="clickable" title="{{e.title}}"
                         scroll-to="{{e.anchor}}" container-id="scroll-container" offset="90"
                         md-colors="{background: 'primary'}"
                         style="border-radius: 100%; width: 30px; height: 30px"></div>
                    <span class="clickable"
                          scroll-to="{{e.anchor}}" container-id="scroll-container" offset="90"
                          style="margin-left: 15px">{{e.title}}</span>
                </div>
            </div>
        </div>
    </aside>
</div>
